.messageboard .faq {
    width: 100%;
    display: flex;
    justify-content: center;
}

.messageboard .faq .faq_inner {
    width: 100%;
    max-width: 960px;
    padding-bottom: 116px;
}

.messageboard .faq .faq_inner .faq_title {
    font-size: 22px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(39, 39, 39, 1);
    padding-top: 36px;
}

.messageboard .faq .faq_inner .faq_type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messageboard .faq .faq_inner .faq_type li {
    padding: 20px 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4px;
}

.messageboard .faq .faq_inner .faq_type li p {
    font-size: 20px;
    font-family: PingFangSC-Regular;
    line-height: 28px;
}

.messageboard .faq .faq_inner .faq_type li:hover {
    cursor: pointer;
}

.messageboard .faq .faq_inner .faq_type li.active>p {
    color: rgba(244, 75, 83, 1);
}

.messageboard .faq .faq_inner .faq_type li.active>.faq_line {
    width: 40px;
    height: 4px;
    background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
    border-radius: 2px;
}

.qa {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(58, 89, 123, 0.1);
    border-radius: 4px 4px 0px 0px;
    padding: 30px 20px 30px 16px;
    display: flex;
    margin-top: 30px;
}

/* .qa .qa_left {
    height: 100%;
} */

.qa .qa_left .q {
    background: url('../images/Q.png') center/100% no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.qa .qa_left .a {
    background: url('../images/A.png') center/100% no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 28px;
}

.qa .qa_right {
    padding-left: 20px;
    flex: 1;
}

.qa .qa_right .qa_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qa .qa_right .qa_top .qa_user {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: rgba(138, 138, 138, 1);
}

.qa .qa_right .qa_top .tip {
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(245, 34, 45, 1);
    background: rgba(255, 241, 240, 1);
    border-radius: 4px;
    border: 1px solid rgba(255, 163, 158, 1);
    padding: 2px 8px;
}

.qa .qa_right .qa_question {
    font-size: 20px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(39, 39, 39, 1);
    line-height: 28px;
    padding-top: 8px;
}

.qa .qa_right .qa_answer {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    color: rgba(3, 3, 3, 1);
    line-height: 30px;
    padding-top: 25px;
}

#All_Products,#Merge_Video,#Watermark,#Video_Converter,#Crop_Video{
    display: flex;
    flex-direction: column;
}