.sendmessage_close {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 13px 0px rgba(100, 138, 179, 0.2);
  border-radius: 4px;
  transition: all .2s ease-in;
  box-sizing: border-box; }
  .sendmessage_close div {
    box-sizing: border-box; }
  .sendmessage_close .sendmessage_button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("../images/payPage/icon_close.png") center/100% no-repeat;
    width: 22px;
    height: 22px; }
    .sendmessage_close .sendmessage_button:hover {
      cursor: pointer;
      border: 1px solid red; }
  .sendmessage_close .sendsuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .sendmessage_close .sendsuccess .sendsuccess_img {
      background: url("../images/payPage/sendSuccess.png") center/100% no-repeat;
      width: 88px;
      height: 88px;
      margin-top: 72px; }
    .sendmessage_close .sendsuccess P {
      font-size: 20px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: #272727;
      padding: 32px 0 60px; }
  .sendmessage_close input:-moz-placeholder,
  .sendmessage_close textarea:-moz-placeholder {
    color: #cccccc; }
  .sendmessage_close input:-ms-input-placeholder,
  .sendmessage_close textarea:-ms-input-placeholder {
    color: #cccccc; }
  .sendmessage_close input::-webkit-input-placeholder,
  .sendmessage_close textarea::-webkit-input-placeholder {
    color: #cccccc; }
  .sendmessage_close .sendmessage_address {
    width: 94%;
    max-width: 1200px;
    border-radius: 4px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    border: 1px solid #cccccc;
    margin-top: 40px;
    padding: 10px 20px 12px;
    box-sizing: border-box;
    color: #272727; }
  .sendmessage_close .sendmessage_message {
    margin-top: 20px;
    width: 94%;
    max-width: 1200px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 10px 20px 12px;
    min-height: 90px;
    outline: none;
    color: #272727; }
  .sendmessage_close .sendmessage_send {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 94%;
    max-width: 1200px;
    margin: 24px 0 30px; }
    .sendmessage_close .sendmessage_send .send_button {
      font-size: 20px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: white;
      background: linear-gradient(135deg, #ff6245 0%, #ff3373 100%);
      border-radius: 4px;
      padding: 10px 22px 8px; }
      .sendmessage_close .sendmessage_send .send_button:hover {
        cursor: pointer; }

.sendmessage_open {
  font-size: 20px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: white;
  background: linear-gradient(135deg, #ff6245 0%, #ff3373 100%);
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 8px;
  transition: all .2s ease-in;
  box-sizing: border-box; }
  .sendmessage_open P {
    color: white; }
  .sendmessage_open div {
    box-sizing: border-box; }
  .sendmessage_open:hover {
    cursor: pointer; }
  .sendmessage_open .sendmessage_icon {
    background: url("../images/payPage/icon_feedback.png") center/100% no-repeat;
    width: 22px;
    height: 22px;
    margin-right: 8px; }
