.purchase {
  background-color: rgba(244, 248, 255, 1);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;

  .header{
    display: none;
  }

  .purchase_content {
    max-width: 960px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h1 {
      font-size: 40px;
      color: rgba(60, 66, 185, 1);
      padding: 50px 0 60px 0;
      line-height: 55px;
      text-align: center;
    }

    .purchase_notes {
      font-size: 15px;
      color: rgba(74, 74, 74, 1);
      text-align: center;
      strong{
        text-decoration: underline;
        color: rgba(45, 50, 160, 1);
        &:hover{cursor: pointer;}
      }
    }
  }
}
@media screen and (max-width: 675px) {
  .purchase {
    padding-top: 50px;

    .header{
      display: flex;
    }

    .purchase_content {
      padding-bottom: 20px;
      h1 {
        font-size: 20px;
        padding: 20px 0 24px 0;
        line-height: 24px;
      }
    }
  }
}
// @media screen and (min-width: 676px) {
//   .purchase {
//     .purchase_content {
//       h1 {
//         font-size: 40px;
//         color: rgba(60, 66, 185, 1);
//         padding: 50px 0 60px 0;
//         line-height: 55px;
//         text-align: center;
//       }
//     }
//   }
// }