.dynamics_text {
  width: 100%;
  min-width: 772px;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  .dynamics_text_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 40px 20px;

    .dynamics_text_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 70%;
    }

    .dynamics_text_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 30%;
      div{
        &:hover{cursor: pointer;}
      }

      .wider {
        width: 30px;
        height: 30px;
        background: url('../../../assets/watermark/b_icon@2x.png') center/100% no-repeat;
        &:hover{background-image: url('../../../assets/watermark/b_2_icon@2x.png');}

        &.active {
          background-image: url('../../../assets/watermark/b_2_icon@2x.png');
        }
      }

      .italic {
        width: 30px;
        height: 30px;
        background: url('../../../assets/watermark/i_icon@2x.png') center/100% no-repeat;
        &:hover{background-image: url('../../../assets/watermark/i_2_icon@2x.png');}

        &.active {
          background-image: url('../../../assets/watermark/i_2_icon@2x.png');
        }
      }

      .underline {
        width: 30px;
        height: 30px;
        background: url('../../../assets/watermark/u_icon@2x.png') center/100% no-repeat;
        &:hover{background-image: url('../../../assets/watermark/u_2_icon@2x.png');}

        &.active {
          background-image: url('../../../assets/watermark/u_2_icon@2x.png');
        }
      }

      .text_left {
        width: 30px;
        height: 30px;
        background: url('../../../assets/watermark/zuo_icon@2x.png') center/100% no-repeat;
        &:hover{background-image: url('../../../assets/watermark/zuo_2_icon@2x.png');}

        &.active {
          background-image: url('../../../assets/watermark/zuo_2_icon@2x.png');
        }
      }

      .text_center {
        width: 30px;
        height: 30px;
        background: url('../../../assets/watermark/zhong_icon@2x.png') center/100% no-repeat;
        &:hover{background-image: url('../../../assets/watermark/zhong_2_icon@2x.png');}

        &.active {
          background-image: url('../../../assets/watermark/zhong_2_icon@2x.png');
        }
      }

      .text_right {
        width: 30px;
        height: 30px;
        background: url('../../../assets/watermark/you_icon@2x.png') center/100% no-repeat;
        &:hover{background-image: url('../../../assets/watermark/you_2_icon@2x.png');}

        &.active {
          background-image: url('../../../assets/watermark/you_2_icon@2x.png');
        }
      }
    }
  }
}