.paycard_method_option {
  width: 112px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(43, 47, 149, 1);

  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(43, 47, 149, 1);
    cursor: pointer;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    height: 90%;
  }
}