.messageboard {
  .faq {
    width: 100%;
    display: flex;
    justify-content: center;

    .faq_inner {
      width: 100%;
      max-width: 960px;
      padding-bottom: 116px;

      .faq_title {
        font-size: 22px;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        color: rgba(39, 39, 39, 1);
        padding-top: 36px;
      }

      .faq_type {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
          padding: 20px 40px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-bottom: 4px;

          p {
            font-size: 20px;
            font-family: PingFangSC-Regular;

            line-height: 28px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        li.active>p {
          color: rgba(244, 75, 83, 1);
        }

        li.active>.faq_line {
          width: 40px;
          height: 4px;
          background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
          border-radius: 2px;
        }
      }
    }
  }
}