.backcolor{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: radial-gradient(circle closest-side, rgba(255,255,255,.2), rgba(45, 50, 160, 1));
}
.wrapper_content{
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  .index_div {
    width: 100%;
    .content_inner{
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #ffffff;
      .content_header{
        font-size: 41px;
        letter-spacing: 4px;
        padding-top: 39px;
        text-align: center;
      }
      .content_title{
        font-size: 20px;
        padding-top: 13px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
  .padding_inner{
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 675px) {
  .backcolor{
    height: 90%;
  }
}