.setmeal {
  margin: 0 40px;
  width: 256px;
  height: 430px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 1);
  position: relative;

  .setmeal_icon {
    position: absolute;
    top: -38px;
    right: 8px;
    width: 71px;
    height: 107px;
  }

  .setmeal_time {
    padding-top: 16px;
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
  }

  .setmeal_price {
    padding-top: 14px;
    font-size: 42px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    .setmeal_price_img {
      background: url('../../../assets/payPage/¥_heise_icon.png') center/100% no-repeat;
      width: 36px;
      height: 36px;
    }

    .setmeal_price_img.isForeign {
      background: url('../../../assets/payPage/$_heise_icon.png') center/100% no-repeat;
    }
  }

  .setmeal_tip {
    font-size: 12px;
    font-family: PingFangSC-Regular;
    color: rgba(138, 138, 138, 1);
    line-height: 17px;
    text-align: center;
  }

  .setmeal_content {
    padding: 20px 0 38px 0;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: 500;

    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 12px;

      div {
        background: url('../../../assets/payPage/dui_heise_icon.png') center/100% no-repeat;
        width: 11px;
        height: 7px;
        margin: 0 10px;
      }
    }
  }

  .setmeal_button {
    padding: 8px 62px;
    font-size: 12px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
    box-shadow: 0px 5px 8px 0px rgba(246, 117, 151, 0.33);
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.special {
  background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
  box-shadow: 0px 3px 35px 0px rgba(255, 119, 140, 0.61);
  color: rgba(255, 255, 255, 1);

  .setmeal_icon {
    background: url('../../../assets/payPage/pay.png') center/100% no-repeat;
  }
  .setmeal_icon.isForeign{
    background: url('../../../assets/payPage/imgchs.png') center/100% no-repeat;
  }

  .setmeal_price {
    font-size: 48px;
    padding-top: 6px;

    .setmeal_price_img {
      background: url('../../../assets/payPage/¥_baise_icon.png') center/100% no-repeat;
      width: 40px;
      height: 40px;
    }

    .setmeal_price_img.isForeign {
      background: url('../../../assets/payPage/$_baise_icon.png') center/100% no-repeat;
    }
  }

  .setmeal_tip {
    color: rgba(255, 255, 255, 1);
  }

  .setmeal_content {
    div {
      div {
        background: url('../../../assets/payPage/dui_baise_icon.png') center/100% no-repeat;
      }
    }
  }

  .setmeal_button {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 8px 0px rgba(235, 14, 64, 1);
    color: rgba(255, 72, 95, 1);
  }
}