.img_preview {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  .swiper-slide{

  }
  .gallery-top{
    margin-top: 100px;
    .swiper-slide{

      .preview_img_box{
        width: 700px;
        height: 390px;
        background: rosybrown;
        margin:  0 auto;
      }
    }
  }
  .gallery-thumbs{
    margin-top: 60px;
    .swiper-slide{
      width: 154px;
      height: 90px;
      opacity: 0.4;
      background-color: #f7f7f7;
    }
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
}

