.paycard {
  margin-top: 174px;
  width: 397px;
  height: 520px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(81, 85, 177, 1);

  .paycard_inner {
    width: 360px;
    transform: translateY(-90px);

    .paycard_inner_topimg {
      img {
        width: 360px;
        height: 224px;
        box-shadow: 0 4px 8px 0 rgba(81, 85, 177, 1);
        border-radius: 8px;
      }
    }

    .paycard_title {
      font-size: 14px;
      font-family: STHeitiTC-Medium;
      font-weight: 500;
      color: rgba(74, 74, 74, 1);
      padding: 20px 0 8px 0;
    }

    .paycard_inner_button_box {
      display: flex;
      justify-content: center;
      align-items: center;

      .paycard_inner_button {
        padding: 6px 72px;
        font-size: 24px;
        font-family: ArialMT;
        color: rgba(255, 255, 255, 1);
        background: linear-gradient(180deg, rgba(89, 97, 206, 1) 0%, rgba(45, 50, 160, 1) 100%);
        border-radius: 4px;
        &:hover{
          cursor: pointer;
          box-shadow: 0 4px 8px 0 rgba(81, 85, 177, 1);
        }
      }
    }
  }
}