@keyframes inAndOut{
  0%{
    transform: translateX(-100%);
  }
  10%{
    transform: translateX(0);
  }
  90%{
    transform: translateX(0);
  }
  100%{
    // transform: translateX(-100%);
    transform: translateX(0);
  }
}

@keyframes putin{
  0%{
    visibility: hidden;
    width: 0;
  }
  10%{
    visibility: visible;
    width: 0;
  }
  20%{
    visibility: visible;
    width: 100%;
  }
  90%{
    visibility: visible;
    width: 100%;
  }
  100%{
    visibility: hidden;
    width: 100%;
  }
}

#inAndOut{
  overflow: hidden;
  position: absolute;
  div{
    display: flex;
    // justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .inAndOut_inner{
    width: 100%;
    height: 100%;
    // transform: translateX(-100%);
    color: #222222;
    animation: inAndOut ease-in-out;

    .inAndOut_time{
      width: 80px;
      height: 100%;
      padding: 0 10px;
      margin-right: 10px;
      background-color: #fddd46;

      div{
        font-size: 20px;
        // visibility: hidden;
        text-align: left;
        justify-content: flex-start;
        animation: putin ease-in-out;
      }
    }
  
    .inAndOut_location{
      width: 100px;
      height: 100%;
      padding: 0 10px;
      background-color: #fddd46;
      
      div{
        font-size: 18px;
        // visibility: hidden;
        text-align: left;
        justify-content: flex-start;
        animation: putin ease-in-out;
      }
    }
  }
}