.home-page-en{
  min-height: calc( 100vh - 84px );
  background-color: #F9FAFB;
  font-size: 0;
  position: relative;
  .left-box{
    position: absolute;
    width: 360px;
    min-height: calc( 100vh - 84px );
    background: #F9FAFB;
    top: 0;
    left: 0;
    bottom: 0;
    .left-icon{
      width:170px;
      height:170px;
      background: url(../../assets/home/home-left.png) no-repeat center / contain;
      margin: 116px auto 24px;
    }
    .left-title{
      font-size:30px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(39,39,39,1);
      line-height:42px;
      text-align: center;
    }
    .left-desc{
      width:245px;
      font-size:20px;
      font-family:PingFangSC-Light;
      font-weight:300;
      color:rgba(39,39,39,1);
      line-height:28px;
      margin: 24px auto 0 ;
      text-align: center;
    }
  }
  .right-box{
    min-height: calc( 100vh - 84px );
    padding-left: 360px;
    background-color: white;
    .product-box{
      //min-height: 617px;
      ul {
        li{
          display: inline-block;
          vertical-align: top;
          height: 307px;
          width: 16.6%;
          box-sizing: border-box;
          border-right: 2px solid #F9FAFB;
          border-bottom: 2px solid #EEEEEE;
          transition: all .2s;
          position: relative;
          &:hover{
            background-color: #F9FAFB;
            .item-name{
              color: #4A43CC;
            }
          }
          a{
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
          }
          img.item-pic{
            width: 150px;
            height: 100px;
            display: block;
            margin: 48px auto 0;
          }
          .item-name{
            text-align: center;
            font-size:22px;
            font-family:PingFangSC-Semibold;
            font-weight:600;
            color:rgba(39,39,39,1);
            line-height:30px;
            margin: 25px 0 10px;
          }
          .item-desc{
            text-align: center;
            font-size:14px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(138,138,138,1);
            line-height:20px;
            padding: 0 30px;
          }
        }
      }
    }
    .tools-box{
      margin-top: 40px;
      box-sizing: border-box;
      ul{
        padding-bottom: 20px;
        li{
          display: inline-block;
          position: relative;
          vertical-align: top;
          max-width: 430px;
          width: 31.3%;
          height:120px;
          background:rgba(255,255,255,1);
          margin-left: 2%;
          box-sizing: border-box;
          padding: 18px;
          box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
          transition: all .3s;
          &:hover{
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          a{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
          }
        }
        .item-header{
          img{
            width: 44px;
            height: 44px;
            float: left;
          }
          .item-info{
            margin-left: 8px;
            display: inline-block;
            vertical-align: middle;
            h3{
              font-size:18px;
              font-family:PingFangSC-Semibold;
              font-weight:600;
              color:rgba(39,39,39,1);
              line-height:25px;
            }
            h4{
              font-size:14px;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color:rgba(39,39,39,1);
              line-height:20px;
            }
          }
        }
        .item-content{
          margin-top: 8px;
          font-size:12px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(102,102,102,1);
          line-height:16px;
        }
      }
    }
  }
}
@media screen and (max-width: 1920px){
  .right-box {
    .product-box {
      ul{
        li{
          width: 20% !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1560px){
  .right-box {
    .product-box {
      ul{
        li{
          width: 25% !important;
        }
      }
    }
  }

}
@media screen and (max-width: 1440px) {
  .right-box {
    .product-box {
      ul {
        li {
          width: 33% !important;
        }
      }
    }
    .tools-box{
      ul{
        li{
         padding: 18px 10px !important;
        }
        .item-header{
          .item-info{
            h3{
              font-size:17px !important;
            }
            h4{
              font-size:13px !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .right-box {
    .tools-box{
      margin-top: 20px !important;
      ul{
        li{
          padding: 18px 10px !important;
        }
        .item-header{
          img{
            width: 40px !important;
            height: 40px !important;
          }
        }
      }
    }
  }
}