

  .comment_wrapper{
    .el-table__header-wrapper{
        .el-checkbox__label{
            display: none;
        }
    }
    .redColor{
        color:#F54650,
    }
    .commentHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .batch_wrapper {
            // position: absolute;
            // right: 0;
            height: 36px;
            padding: 6px 6px 10px;
            box-sizing: content-box;
            margin-bottom: 10px;
            // border-bottom: 1px solid #d1dbe5;
            .content_title {
            display: inline-block;
            }
            .audit_type{
            float: left;
            }
            .batch-btn-group {
            float: right;
            }
        }
        .el-tabs__header{
            border-bottom: none;
        }

        .el-table .caret-wrapper{
            th{
                .cell{
                    text-align: center;
                }
            }
        }
    }
    
   
  }