.paypage {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  div {
    box-sizing: border-box;
  }

  .paypage_inner {
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../../assets/payPage/background_iamge.png') bottom/100% no-repeat;

    .paypage_top {
      h1 {
        font-size: 40px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color:rgba(0,0,0,1);
        text-align: center;
        padding-top: 64px;
      }

      h2 {
        font-size: 18px;
        font-family: PingFangSC-Regular;
        color: rgba(138, 138, 138, 1);
        text-align: center;
        padding-top: 14px;
      }
    }

    .paypage_bottom {
      padding-top: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .pay_full_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4999);
    z-index: 999;

    .pay_select_box {
      position: relative;
      height: 295px !important;

      .pay_select_close {
        position: absolute;
        top: 13px;
        right: 13px;
        background-image: url("../../assets/guanbi_icon@1x (1).png");
        background-size: 100% 100%;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }

      .zfb_wx_box:nth-of-type(1) {
        margin-right: 32px;
      }

      .zfb_wx_box {
        cursor: pointer;
        width: 158px;
        height: 173px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 21px 0px rgba(100, 138, 179, 0.2);
        display: inline-block;
        padding-top: 21px;
        box-sizing: border-box;
        margin-top: 27px;

        .zhifu_icon {
          width: 94px;
          height: 94px;
          background-size: 100% 100%;
          margin: 0 auto;
        }

        .zhifubao_icon {
          background-image: url("../../assets/zhifubao_icon@1x.png");
        }

        .wx_zhifu_icon {
          background-image: url("../../assets/weixin_icon@1x.png");
        }

        .zfb_wx_name {
          margin-top: 13px;
          text-align: center;
          font-size: 17px;
          font-family: "PingFang SC";
          font-weight: 400;
          color: rgba(6, 6, 6, 1);
          line-height: 23px;
        }
      }

      .zfb_wx_box:hover {
        box-shadow: 0px 0px 21px 0px rgba(100, 138, 179, 0.6);
      }
    }

    .pay_confirm_box {
      width: 514px;
      height: 166px;
      background: #FFFFFF;
      border-radius: 4px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 34px;
      box-sizing: border-box;
      text-align: center;

      .pay_full_box_tit {
        font-size: 19px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #060606;
        line-height: 27px;

        .pay_red_title {
          color: #FF485F;
        }
      }

      .pay_full_btn {
        margin: 45px auto 25px;
        width: 132px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 2px;
        font-size: 15px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 36px;
        text-align: center;
        cursor: pointer;
      }

      .cancle_btn_box {
        display: inline-block;
        width: 132px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 2px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: #FFFFFF;
        line-height: 36px;
        cursor: pointer;
      }
    }
  }
}