.convert-before{
  height: 518px;
  box-sizing: border-box;
  padding-top: 136px;
  text-align: center;
  .title{
    font-size:50px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(0,0,0,1);
    line-height:70px;
  }
  .futitle{
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(39,39,39,1);
    line-height:25px;
  }
  .chooseFile{
    width:500px;
    height:76px;
    background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
    border-radius:4px;
    font-size:30px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:42px;
    cursor: pointer;
    margin: 80px auto 14px;
  }
  .desc{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(138,138,138,1);
    line-height:20px;
  }
}