
.information_wrapper{
  $title_color:#6861FD;
  $basicsFontSize:18px;
  $titleFontSize:50px;
  font-family:PingFangSC-Medium;
  width: 100%;
  padding-top: 39px;
  background-color: white;
  .leftPic_type{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    .picBox{
      width: 492px;
      height: 358px;
      margin-right: 50px;
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .textBox{
      width: 340px;
      margin-left: 50px;
      padding-top: 80px;
      .plateIcon{
        width: 30px;
        height: 54px;
        &.chuli{
          background: url(../../../assets/removewatermark/chuli@2x.png) no-repeat center / contain;
        }
        &.bigger{
          background: url(../../../assets/removewatermark/1gb@2x.png) no-repeat center / contain;
        }
      }
      .title{
        font-size:34px;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        color:rgba(104,97,253,1);
        line-height:48px;
      }
    }
  }
  .rightPic_type{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    .picBox{
      width: 492px;
      height: 340px;
      margin-left: 50px;
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .textBox{
      width: 340px;
      margin-right: 50px;
      padding-top: 48px;
      .plateIcon{
        width: 36px;
        height: 60px;
        &.infine{
          background: url(../../../assets/removewatermark/wuxian@2x.png) no-repeat center / contain;
        }
        &.muliupload{
          background: url(../../../assets/removewatermark/tongshi@2x.png) no-repeat center / contain;
        }
      }
      .title{
        font-size:34px;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        color:rgba(104,97,253,1);
        line-height:48px;
        white-space: nowrap;
      }
    }
  }
  .content{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:21px;
  }
}