@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img, input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none; }

ul, ol {
  list-style: none; }

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体"; }

select, input {
  vertical-align: middle; }

select, input, textarea {
  font-size: 12px;
  margin: 0; }

textarea {
  resize: none; }

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
  display: block;
  /* 清除图片底册 3像素缝隙*/ }

/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse; }

body {
  color: #666;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%; }

a {
  /*color: #666;*/
  text-decoration: none; }

a:hover {
  /*color: #C81623;*/ }

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%; }

s, i, em {
  font-style: normal;
  text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }

/*公共类*/
.w {
  /*版心 提取 */
  width: 1210px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.al {
  text-align: left; }

.ac {
  text-align: center; }

.ar {
  text-align: right; }

.hide {
  display: none; }

html, body {
  width: 100%; }

html {
  height: 100%; }

body {
  position: relative; }

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-row-end-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center; }

.flex-row-btw-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.flex-col-center-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; }

.flex-col-center-end {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end; }

.flex-col-start-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }

.flex-col-center-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.flex-col-center-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; }

.flex-col-around-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start; }

.flex-col-start-end {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end; }

.flex-row-center-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; }

.flex-row-start-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start; }

.flex-col-start-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start; }

.flex-col-end-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start; }

.flex-row-btw-start {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; }

.flex-row-center-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end; }

.flex-row-btw-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end; }

.flex-row-around-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.shenglv-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.shenglv-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.shenglv-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bg-normal {
  background-position: center center;
  background-repeat: no-repeat; }

@keyframes r {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.highlight {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.header-box::after {
  content: '';
  width: 100%;
  height: 3px;
  clear: both;
  display: block;
  background: linear-gradient(90deg, #3023ae 0%, #53a0fd 48%, #ec5151 100%);
  -webkit-animation: hue 6s infinite linear;
  position: absolute;
  bottom: 0; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }

.header-box {
  box-sizing: border-box;
  height: 50px;
  position: relative; }
  .header-box .logo-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px; }
    .header-box .logo-box img {
      width: 100px;
      height: 31px;
      cursor: pointer; }
  .header-box .header-nav {
    float: right;
    font-size: 15px; }
    .header-box .header-nav a {
      display: block;
      color: #272727;
      text-decoration: none; }
    .header-box .header-nav > ul > li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      line-height: 50px;
      font-size: 16px;
      margin-right: 40px; }
      .header-box .header-nav > ul > li::after {
        content: '';
        position: absolute;
        top: 54px;
        height: 2px;
        width: 0;
        left: 50%;
        background-color: #FF3A6D;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      .header-box .header-nav > ul > li:hover:after {
        width: 100%;
        left: 0; }
    .header-box .header-nav > ul .project-nav {
      margin-right: 58px; }
      .header-box .header-nav > ul .project-nav .project_head {
        padding-right: 20px;
        box-sizing: border-box;
        background: url(../images/nav_icon.png) no-repeat right 23px/8px 8px;
        cursor: pointer; }
    .header-box .header-nav > ul .project-nav:hover .project_head {
      color: #000;
      opacity: .5; }
    .header-box .header-nav > ul .project-nav:hover .header-projects {
      display: block; }
    .header-box .header-nav .header-projects {
      display: none;
      position: absolute;
      width: 139px;
      background: #FFFFFF;
      left: -67px;
      top: 47px;
      z-index: 9999;
      box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.15); }
      .header-box .header-nav .header-projects .snd-nav::before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        right: 10px;
        background-image: url("../images/jiantou_top.png");
        background-size: 100% 100%;
        width: 18px;
        height: 10px; }
      .header-box .header-nav .header-projects .snd-nav {
        position: relative;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border-radius: 4%; }
        .header-box .header-nav .header-projects .snd-nav .snd-detail:hover .snd-detail-name {
          color: #FF4363; }
        .header-box .header-nav .header-projects .snd-nav .snd-detail {
          width: 100%;
          height: 41px;
          line-height: 41px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #F7F7F7;
          padding: 0 22px;
          box-sizing: border-box; }
          .header-box .header-nav .header-projects .snd-nav .snd-detail img {
            width: 23px;
            height: 23px;
            margin-right: 11px; }
          .header-box .header-nav .header-projects .snd-nav .snd-detail .snd-detail-name {
            cursor: pointer;
            font-size: 14px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #272727;
            line-height: 32px; }
          .header-box .header-nav .header-projects .snd-nav .snd-detail .snd-not-name {
            cursor: not-allowed;
            font-size: 14px;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: gray;
            line-height: 32px; }
  .header-box .user-box {
    float: right;
    padding-right: 40px;
    box-sizing: border-box; }
    .header-box .user-box ul {
      display: inline-block;
      vertical-align: top; }
      .header-box .user-box ul a {
        display: inline-block;
        cursor: pointer;
        margin-left: 20px;
        vertical-align: top;
        line-height: 35px;
        margin-top: 8px;
        color: #272727;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400; }
        .header-box .user-box ul a.register-btn {
          color: #FF495E; }
  .header-box .user-Image {
    float: right;
    width: 222px;
    height: 100%;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    padding: 0 53px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer; }
    .header-box .user-Image .user_headBg {
      background-image: url("../images/tuoyuan_bg.png");
      background-size: 100% 100%;
      width: 30px;
      height: 30px; }
      .header-box .user-Image .user_headBg .user_headImg {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin: 2px auto; }
    .header-box .user-Image .user_nickName {
      margin: 0 11px;
      width: 45px;
      height: 21px;
      font-size: 15px;
      font-family: "PingFang SC";
      font-weight: 400;
      color: #272727;
      line-height: 21px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .header-box .user-Image .user_img_xiala {
      background-image: url("../images/xiala_xia_icon@1x.png");
      background-size: 100% 100%;
      width: 7px;
      height: 5px; }
    .header-box .user-Image .xiala_box::before {
      content: '';
      display: block;
      position: absolute;
      top: -8px;
      right: 75px;
      background-image: url("../images/jiantou_top.png");
      background-size: 100% 100%;
      width: 18px;
      height: 10px; }
    .header-box .user-Image .xiala_box {
      display: none;
      position: absolute;
      top: 47px;
      right: 9px;
      width: 173px;
      background: white;
      box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding-left: 21px;
      box-sizing: border-box;
      z-index: 9999; }
      .header-box .user-Image .xiala_box .xiala_detail:hover {
        color: #F44B53; }
      .header-box .user-Image .xiala_box .xiala_detail {
        width: 100%;
        height: 38px;
        border-bottom: 1px solid #F7F7F7;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        font-size: 14px;
        font-family: "PingFang SC";
        font-weight: 400;
        color: #666666;
        line-height: 38px; }
        .header-box .user-Image .xiala_box .xiala_detail .xiala_detail_icon {
          width: 17px;
          height: 17px;
          background-size: 100% 100%;
          margin-right: 11px; }
      .header-box .user-Image .xiala_box .xiala_detail.time .xiala_detail_icon {
        background-image: url("../images/shijian_icon@2x.png"); }
      .header-box .user-Image .xiala_box .xiala_detail.setting .xiala_detail_icon {
        background-image: url("../images/sheji_icon@2x.png"); }
      .header-box .user-Image .xiala_box .xiala_detail.vip .xiala_detail_icon {
        background-image: url("../images/vip_icon@2x.png"); }
      .header-box .user-Image .xiala_box .xiala_detail.login-out .xiala_detail_icon {
        background-image: url("../images/tuichu_cion@2x.png"); }
      .header-box .user-Image .xiala_box .muliVip .xiala_detail_icon {
        background-image: url("../images/vip_icon@2x.png") !important; }
  .header-box .user-Image:hover .user_img_xiala {
    background-image: url("../images/xiala_shang_icon@1x.png"); }
  .header-box .user-Image:hover .xiala_box {
    display: block;
    cursor: pointer; }

.footer-box {
  background-color: #F0F2F5;
  height: 45px;
  font-size: 16px;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden; }
  .footer-box > div {
    display: inline-block; }
  .footer-box .sendmessage_open {
    font-size: 20px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: white;
    background: -webkit-linear-gradient(315deg, #ff6245 0%, #ff3373 100%);
    background: -o-linear-gradient(315deg, #ff6245 0%, #ff3373 100%);
    background: linear-gradient(135deg, #ff6245 0%, #ff3373 100%);
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 8px;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .footer-box .sendmessage_open .sendmessage_icon {
      background: url(../images/blog/message.png) center/100% no-repeat;
      width: 22px;
      height: 22px;
      margin-right: 8px; }
    .footer-box .sendmessage_open p {
      color: white; }
    .footer-box .sendmessage_open a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 6; }
  .footer-box a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.45); }
  .footer-box p {
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.45); }
    .footer-box p.webset-name {
      margin-right: 45px; }
  .footer-box .footer-nav {
    display: inline-block;
    vertical-align: top;
    margin-left: 75px; }
    .footer-box .footer-nav li {
      display: inline-block;
      margin-right: 66px;
      line-height: 45px;
      vertical-align: top; }
      .footer-box .footer-nav li a {
        color: rgba(0, 0, 0, 0.45); }

.footer-box {
  height: 34px;
  font-size: 14px; }
  .footer-box p {
    line-height: 34px; }
    .footer-box p.webset-name {
      margin-right: 34px; }
  .footer-box .footer-nav {
    margin-left: 25px; }
    .footer-box .footer-nav li {
      margin-right: 50px;
      line-height: 34px; }

.blog-banner-box {
  width: 100%;
  height: 240px;
  background: url(../images/blog/Articles_bg.png) no-repeat center/cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px; }
  .blog-banner-box .popularArticles_title {
    font-size: 40px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #333333; }
  .blog-banner-box .redline {
    margin-top: 10px;
    width: 48px;
    height: 4px;
    background: -webkit-linear-gradient(315deg, #ff6245 0%, #ff3373 100%);
    background: -o-linear-gradient(315deg, #ff6245 0%, #ff3373 100%);
    background: linear-gradient(135deg, #ff6245 0%, #ff3373 100%); }
  .blog-banner-box .article_msg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 160px; }
    .blog-banner-box .article_msg p {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: #8a8a8a; }

.articles_list {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 50px; }
  .articles_list .article_box {
    display: flex;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 1200px;
    height: 220px;
    padding: 15px 20px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(58, 89, 123, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(58, 89, 123, 0.1);
    border-radius: 4px 4px 0px 0px; }
    .articles_list .article_box a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 8;
      font-size: 0; }
    .articles_list .article_box .article_box_left {
      width: 326px;
      height: 182px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }
    .articles_list .article_box .article_box_right {
      width: 798px;
      height: 100%;
      position: relative; }
    .articles_list .article_box .article_box_title {
      font-size: 20px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: #272727;
      padding: 5px 0 10px 0; }
    .articles_list .article_box .article_box_msg {
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 10px; }
      .articles_list .article_box .article_box_msg p {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: #8a8a8a; }
    .articles_list .article_box .article_box_desc {
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      line-height: 30px;
      color: #666666;
      padding-bottom: 10px; }
    .articles_list .article_box .article_box_details {
      position: absolute;
      right: 0;
      bottom: 5px;
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: #ff5452; }

.article_bottom {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .article_bottom .article_abstract {
    height: 110px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px; }
    .article_bottom .article_abstract .article_abstract_text {
      width: 1200px;
      position: relative;
      color: #272727;
      line-height: 26px;
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 500; }
      .article_bottom .article_abstract .article_abstract_text .article_abstract_pic {
        position: absolute;
        left: -5%;
        top: -10px;
        width: 40px;
        height: 32px;
        background: url(../images/blog/yinhao.png) center/100% no-repeat; }
  .article_bottom .article_text {
    width: 1200px;
    padding-bottom: 50px; }
    .article_bottom .article_text img {
      margin: 30px auto 20px;
      object-fit: contain;
      width: 960px; }
    .article_bottom .article_text p {
      padding-top: 10px;
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: #666666;
      line-height: 26px; }
