.live_interactive{
  //min-height: 600px;
  .talk_list{
    height: 300px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
    padding: 0 16px;
    overflow: auto;
    .talk_item{
      .top_bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
        .head_pic{
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          vertical-align: middle;
          background-color: #f7f7f7;
          border-radius: 50%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .talk_time{
          color: rgba(138,138,138,1);
        }
      }
      .talk_content_outDiv{
        padding: 0 24px;
        margin-bottom:25px;
        .talk_content_innerSpan{
          padding: 10px 16px;
          box-sizing: border-box;
          background:rgba(248,251,255,1);
          border-radius:0 14px 14px 14px;
          line-height: 24px;
          //margin-top: 40px;
        }
        
      }
    }
    // 系统广播
    .talk_item.system{
      text-align: left;
      font-size: 12px;
      color: #F7BA2A;
      margin: 16px 0;
      padding-left: 30px;
    }
  }
  .bottom_panel{
    height: 250px;
    padding: 0 20px;
    .current_editor{
      height: 30px;
      line-height: 30px;
      margin-bottom: 10px;
      .current_editor_inner{
        float: left;
        cursor: pointer;
        .el-input{
          width: 160px;
        }
      }
      .editor_avatar{
        width: 30px;
        height: 30px;
        float: left;
        background-color: #f7f7f7;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
      }
      .editor_name{
        margin-left: 5px;
        font-size: 16px;
        color: #3176FD;
        font-weight: 400;
        display: inline-block;

      }
    }
    .edit_textarea{
      margin-bottom: 16px;
    }
    .editor_submit{
      float: right;
    }
  }
  .toolbar{
    //margin: 0 10px;
    .tool_item{
      width: 24px;
      height: 24px;
      margin: 4px 5px 0;
      background-size: contain;
      background-repeat: no-repeat;
      float: left;
      cursor: pointer;
    }
    .vote{
      background-image: url('../../../../../assets/images/h5/icon_toupiao@2x.png');
      &:hover{
        background-image: url('../../../../../assets/images/h5/icon_toupiao_blue.png');
      }
    }
    .question{
      background-image: url('../../../../../assets/images/h5/icon_youjiang@2x.png');
      &:hover{
        background-image: url('../../../../../assets/images/h5/icon_youjiang_blue.png');
      }
    }
  }
  .interactive_menu_hover{
    background: #ffffff;
    text-align: center;
    h3{
      font-size: 16px;
      color: #242A33;
      text-align: left;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #E8E8E8;
      padding: 0 22px;
    }
  }
  .el-popover{
    padding: 0;
    border: none;
  }
  .vote_item{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E9E9E9;
    padding: 0 30px 0 40px;
    position: relative;
    text-align: left;
    button{
      margin-top: 7px;
    }
  }
  .vote_item:before{
    content: '';
    width: 6px;
    height: 6px;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .vote_item.active:before {
    background-color: #1890FF;
  }
  .btn_new_lib{
    height: 32px;
    color: #666666;
    border-radius:4px;
    border:1px dashed rgba(217,217,217,1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
  }
  .question_inner{
    padding: 20px 20px 20px 0;
    .el-form{
      text-align: left;
      .el-form-item__label{
        font-weight: normal;
      }
    }
  }

  .preview_span{
    display: inline-block;
    width: 106px;
    height: 106px;
    border: 1px dashed #000;
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .viewmore{
    font-size: 12px;
    text-align: center;
    color: #20a0ff;
    cursor: pointer
  }
  .user_select{
    padding: 20px;
    h3{
      font-size: 14px;
      margin-bottom: 10px;
    }
    .el-select, .el-input{
      width: 100% !important;
    }
  }
}