.pay-box {
  min-width: 1280px;
  background-image: url("../../assets/background_iamge@1x.png");
  background-size: cover;
  background-position: center bottom;
  min-height: calc(100vh - 75px);
  padding-top: 67px;
  box-sizing: border-box;
  object-fit: cover;
  padding-bottom: 82px;
  position: relative;

  .pay_full_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4999);
    z-index: 999;

    .pay_select_box {
      position: relative;
      height: 295px !important;

      .pay_select_close {
        position: absolute;
        top: 13px;
        right: 13px;
        background-image: url("../../assets/guanbi_icon@1x (1).png");
        background-size: 100% 100%;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }

      .zfb_wx_box:nth-of-type(1) {
        margin-right: 32px;
      }

      .zfb_wx_box {
        cursor: pointer;
        width: 158px;
        height: 173px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 21px 0px rgba(100, 138, 179, 0.2);
        display: inline-block;
        padding-top: 21px;
        box-sizing: border-box;
        margin-top: 27px;

        .zhifu_icon {
          width: 94px;
          height: 94px;
          background-size: 100% 100%;
          margin: 0 auto;
        }

        .zhifubao_icon {
          background-image: url("../../assets/zhifubao_icon@1x.png");
        }

        .wx_zhifu_icon {
          background-image: url("../../assets/weixin_icon@1x.png");
        }

        .zfb_wx_name {
          margin-top: 13px;
          text-align: center;
          font-size: 17px;
          font-family: "PingFang SC";
          font-weight: 400;
          color: rgba(6, 6, 6, 1);
          line-height: 23px;
        }
      }

      .zfb_wx_box:hover {
        box-shadow: 0px 0px 21px 0px rgba(100, 138, 179, 0.6);
      }
    }

    .pay_confirm_box {
      width: 514px;
      height: 166px;
      background: #FFFFFF;
      border-radius: 4px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 34px;
      box-sizing: border-box;
      text-align: center;

      .pay_full_box_tit {
        font-size: 19px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #060606;
        line-height: 27px;

        .pay_red_title {
          color: #FF485F;
        }
      }

      .pay_full_btn {
        margin: 45px auto 25px;
        width: 132px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 2px;
        font-size: 15px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 36px;
        text-align: center;
        cursor: pointer;
      }

      .cancle_btn_box {
        display: inline-block;
        width: 132px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 2px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: #FFFFFF;
        line-height: 36px;
        cursor: pointer;
      }
    }
  }

  .pay-title {
    font-size: 43px;
    font-family: "PingFang SC";
    font-weight: 500;
    color: #000;
    line-height: 60px;
    text-align: center;
  }

  .pay-tip {
    margin: 15px 0 54px;
    text-align: center;
    font-size: 19px;
    font-family: "PingFang SC";
    font-weight: 400;
    color: #8A8A8A;
    line-height: 27px;
  }

  .pay-main::after {
    content: '';
    display: block;
    clear: both;
  }

  .pay-main {
    display: inline-block;

    .pay-list:nth-child(3) {
      background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
      box-shadow: 0px 3px 37px 0px rgba(255, 119, 140, 0.61);

      .pay-icon {
        position: absolute;
        background-image: url("../../assets/pay copy@1x.png");
        background-size: 100% 100%;
        width: 71px;
        height: 107px;
        top: -38px;
        right: 8px;
      }

      .list-tit {
        color: #FFFFFF;
      }

      .list-value-icon {
        background-image: url("../../assets/rmb_write_icon@2x.png");
        background-size: 100% 100%;
        width: 24px;
        height: 32px;
      }

      .list-value-icon.isForeign {
        background-image: url("../../assets/payPage/$_baise_icon.png");
        width: 40px;
        height: 40px;
      }

      .list-value {
        color: #FFFFFF;
      }

      .list-tip {
        color: #FFFFFF;
      }

      .list-content {
        color: #FFFFFF;

        .list-cont::before {
          content: '';
          background-image: url("../../assets/dui_baise_icon@1x.png");
          background-size: 100% 100%;
        }
      }

      .list-btn {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 5px 9px 0px rgba(235, 14, 64, 1);
        color: #FF485F;
      }
    }

    .pay-list:nth-child(3) {
      .cantClick {
        color: #000000!important;
      }
    }

    .pay-list:nth-child(4) {
      .pay-zhongji {
        position: absolute;
        background-image: url("../../assets/wenjian_icon@1x.png");
        background-size: 100% 100%;
        width: 270px;
        height: 82px;
        line-height: 23px;
        font-size: 17px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #FFFFFF;
        top: -55px;
        padding-top: 23px;
        padding-left: 26px;
        box-sizing: border-box;
      }
    }

    .pay-list {
      width: 259px;
      float: left;
      margin-right: 38px;
      padding-top: 17px;
      padding-bottom: 38px;
      text-align: left;
      position: relative;

      .list-tit {
        font-size: 21px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #000;
        line-height: 30px;
        text-align: center;
      }

      .list-value.more_value {
        color: #F44B53;

        .list-value-icon {
          background-image: url("../../assets/¥_hongse_icon.png");
        }
        .list-value-icon.isForeign {
          background-image: url("../../assets/payPage/$_baise_icon.png");
        }
      }

      .list-value-icon {
        background-image: url("../../assets/rmb_black_icon@2x.png");
        background-size: 100% 100%;
        width: 22px;
        height: 30px;
      }
      .list-value-icon.isForeign {
        background-image: url("../../assets/payPage/$_heise_icon.png");
        width: 40px;
        height: 40px;
      }

      .list-value {
        position: relative;
        margin-top: 15px;
        box-sizing: border-box;
        font-size: 45px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: #000000;
        line-height: 63px;
        //margin-left: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .discount_price_box {
        text-align: right;
        padding-right: 50px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        line-height: 21px;
        text-decoration: line-through;

        .discount_price_icon {
          display: inline-block;
          background-image: url("../../assets/¥_heise_icon_small.png");
          background-size: 100% 100%;
          width: 8px;
          height: 11px;
          margin-right: 3px;
        }

        .discount_baise_icon {
          background-image: url("../../assets/¥_baise_icon copy.png");
        }
      }

      .list-tip {
        font-size: 13px;
        text-align: center;
        font-family: "PingFang SC";
        font-weight: 400;
        color: #8A8A8A;
        line-height: 18px;
        height: 70px;
      }

      .list-content {
        font-size: 15px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #000;
        line-height: 21px;
        margin-left: 60px;

        .list-cont::before {
          content: '';
          display: block;
          position: absolute;
          background-image: url("../../assets/dui_heise_icon@1x.png");
          background-size: 100% 100%;
          width: 11px;
          height: 7px;
          left: 0;
          top: 6px;
        }

        .list-cont {
          padding-left: 18px;
          box-sizing: border-box;
          margin-bottom: 14px;
          position: relative;
          word-wrap: none;
          white-space:nowrap;

          .cont-bold {
            font-family: "PingFang SC";
            font-weight: bold;
            margin: 0 2px;
          }
        }
      }

      .list-btn {
        width: 182px;
        height: 32px;
        margin: 39px auto 0;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        box-shadow: 0px 5px 9px 0px rgba(246, 117, 151, 0.33);
        border-radius: 4px;
        line-height: 32px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        font-family: "PingFang SC";
        color: #FFFFFF;
        cursor: pointer;
      }

      .list-btn.cantClick {
        cursor: not-allowed;
        box-shadow:0px 5px 9px 0px rgba(246,117,151,0.33);
        border-radius:4px;
        opacity:0.19820000000000002;
        border:1px solid rgba(0,0,0,1);
        color: #000;
        background: none;
      }

      .dikou_content {
        margin-top: 11px;
        text-align: center;
        font-size: 16px;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        color: rgba(244, 75, 83, 1);
        line-height: 22px;
      }
    }
  }

}