.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  background-color: rgba(45, 50, 160, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 85px;
}
.wrapper .content{
  max-width: 1024px;
}
*{
  box-sizing: border-box;
  font-family: 'STHeiti Light [STXihei]','SimHei' !important;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
}
@media screen and (max-width: 675px) {
  #header{
    display: none;
  }
  #wrapper .content_header{
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding-top: 0;
  }
  #wrapper .content_title{
    font-size: .875rem;
    font-weight: 200;
    line-height: .875rem;
    width: 80%;
  }
  #wrapper .dropfile_big{
    width: 18.9375rem;
    height: 10.375rem;
  }
  #wrapper .dropfile_small{
    width: 18.9375rem;
    height: 7.0625rem;
  }
  #wrapper .drop_tip{
    display: none;
  }
  #wrapper .download_lists{
    display: none;
  }
  #wrapper .download_lists_tip{
    line-height:22px;
    width: 90%;
  }
  #wrapper .bottom_fold,
  #wrapper .index_content,
  #wrapper .bottombar{
    display: none;
  }
  #wrapper .content{
    width: 100%;
  }
  #wrapper .myplan .line{
    width: 80%;
  }
  #wrapper .myplan h1{
    padding: 0 0 1rem 0;
    font-size: 30px;
    letter-spacing: 2px;
  }
  #wrapper .myplan h2{
    padding: 1rem 0 1rem 0;
    font-size: 20px;
    font-weight: 200;
  }
  #wrapper .myplan p{
    padding: .625rem 0;
  }
  #wrapper .myplan .upgrade{
    padding: .375rem 1.75rem;
  }
  #wrapper .myplan .download_records{
    width: 80%;
    align-items: center;
  }
  #wrapper .myplan .download_record{
    width: 100%;
  }
}
@media screen and (min-width: 676px) {
  #app_menu{
    display: none;
  }
  #wrapper .app_drop_tip{
    display: none;
  }
  #wrapper .app_download_lists{
    display: none;
  }
}
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width: 992px) {
  
}
