.wrapper_content {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  // min-height: 768px;

  & .index_div {
    width: 100%;

    .content_inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #ffffff;

      & .content_header {
        font-size: 41px;
        letter-spacing: 4px;
        padding-top: 39px;
        font-weight: 500;
        text-align: center;
      }

      & .content_title {
        font-size: 20px;
        padding-top: 13px;
        font-weight: 300;
        text-align: center;
      }

      .videoCutter_bottom {
        width: 396px;

        .videoCutter_bottom_notice {
          margin: 10px 0 90px 0;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          background: rgba(0, 0, 0, .1);
          border-radius: 2px;
          border: 1px solid rgba(255, 255, 255, .1);
          padding: 8px 0;
          text-align: center;
        }

        .videoCutter_bottom_recommand {
          background: rgba(0, 0, 0, .2034);
          border-radius: 4px;

          .recommand_top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .recommand_top_text {
              padding: 15px 0 12px 0;
              text-align: center;
              font-size: 16px;
            }

            .recommand_top_line {
              height: 1px;
              width: 258px;
              background: linear-gradient(10deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);

            }
          }

          .recommand_bottom {
            padding: 16px 0 30px 0;
            display: flex;

            .recommand_img {
              width: 50px;
              height: 50px;
            }

            .recommand_text {
              font-size: 14px;
              font-weight: 200;
              line-height: 14px;
            }
          }
        }
      }
    }
  }
}