.upload_controller {
  width: 504px;
  position: relative;

  .upload_controller_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    filter: blur(16px);
  }

  .upload_controller_main {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
    box-sizing: border-box;

    .upload_controller_head {
      width: 100%;
      height: 57px;
      background: #EEEEEE;
      display: flex;
      justify-content:center;
      align-items:Center;

      .controller_head_btn:hover {
        // color: #919292;
        color: #FFFFFF;
        background-color: #313131;
        .head_addIcon {
          background-image: url("../../../assets/jia_gray_icon@2x.png");
        }
      }
      .controller_head_btn {
        cursor: pointer;
        position: relative;
        height: 21px;
        border-radius: 2px;
        border: 1px solid #313131;
        padding-left: 26px;
        padding-right: 8px;
        box-sizing: border-box;
        font-size: 11px;
        font-family: "PingFang SC";
        font-weight: 400;
        color: #313131;
        line-height: 21px;

        .head_addIcon {
          background-image: url("../../../assets/jia_icon@2x.png");
          position: absolute;
          background-size: 100% 100%;
          width: 10px;
          height: 10px;
          left: 9px;
          top: 5px;
        }
      }
    }

    .upload_controller_list {
      background: #FFFFFF;
      width: 100%;
    }

    .upload_controller_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px 0 23px;

      div{
        border-radius: 2px;
        font-size: 15px;
        font-family: "PingFang SC";
        font-weight: 600;
        padding: 7px 25px;
        text-align: center;
        cursor: pointer;
        color: #FFFFFF;
        background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);

        &:hover {
          background:linear-gradient(135deg,rgba(255,140,125,1) 0%,rgba(255,109,146,1) 100%);
        }
      }
    }

    .cantClick {
      div{
        cursor: not-allowed!important;
        background: #9B9B9B;
      }
    }

    .cantClick:hover {
      div{
        background: #9B9B9B;
      }
    }
  }
}