@import '../../style/public';

.problems-box {
  //width: 100%;
  box-sizing: border-box;
  //padding: 36px 160px 0 160px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 36px;
  word-break: break-all;

  .select-box {
    width: 100%;

    .select-box-head {
      font-size: 22px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: rgba(39, 39, 39, 1);
      line-height: 30px;
    }

    .select-box-list {
      margin-top: 20px;
      width: 100%;
      @extend .flex-row-start-start;
      flex-flow: wrap;

      .select-item {
        font-size: 20px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(39, 39, 39, 1);
        line-height: 28px;
        cursor: pointer;
        margin-right: 40px;
        margin-bottom: 20px;
        cursor: pointer;
      }

      .selected-item {
        font-size: 20px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(244, 75, 83, 1);
        line-height: 28px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 40px;
          height: 4px;
          background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
          border-radius: 2px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -8px;
        }
      }
    }
  }

  .problems-list {
    margin-top: 30px;
    width: 100%;

    .problem-item {
      margin-bottom: 30px;
      width: 100%;
      box-sizing: border-box;
      padding: 30px 38px 32px 16px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 20px 0px rgba(58, 89, 123, 0.1);
      border-radius: 4px 4px 0px 0px;
      position: relative;

      .project-name {
        position: absolute;
        top: 30px;
        right: 20px;
        height: 22px;
        background: rgba(255, 241, 240, 1);
        border-radius: 4px;
        border: 1px solid rgba(255, 163, 158, 1);
        font-size:12px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(245,34,45,1);
        line-height:20px;
        box-sizing: border-box;
        padding: 0 8px;
      }

      .Q-box {
        width: 100%;
        padding-left: 60px;
        box-sizing: border-box;
        background-image: url("./../../assets/Q@2x.png");
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 0 10px;

        .Q-user {
          font-size: 14px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(138, 138, 138, 1);
          line-height: 20px;
        }

        .Q-cont {
          margin-top: 8px;
          font-size: 20px;
          font-family: PingFangSC-Semibold;
          font-weight: 600;
          color: rgba(39, 39, 39, 1);
          line-height: 28px;
        }
      }

      .A-box {
        margin-top: 20px;
        width: 100%;
        padding-left: 60px;
        box-sizing: border-box;
        background-image: url("./../../assets/A@2x.png");
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: 0 0;
        min-height: 40px;
        padding-top: 5px;

        .A-cont {
          font-size: 16px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(3, 3, 3, 1);
          line-height: 30px;
        }
      }
    }
  }
}