.header {
  width: 100%;
  background-color: rgba(45, 50, 160, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, .2);

  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 675px) {
  .header {
    height: 3.125rem;
  }

  #header {
    display: none;
  }

  #app_menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    // .logo {
    //   // background: url('../../assets/images/LOGO1@2x.png') center/100% no-repeat;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 4.6875rem;
    //   height: 1rem;
    //   margin-left: 1rem;
    // }
    .backToHome {
      // background: url('../../assets/images/LOGO1@2x.png') center/100% no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.6875rem;
      height: 1rem;
      margin-left: 1rem;
    }

    .menu {
      height: 100%;
      width: 4.5rem;
      background: url('../../assets/images/gengduo_icon@2x.png') center no-repeat;
      background-size: 30% 40%;
    }

    .menu_cover {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      background: rgba(0, 0, 0, .5);

      .menu_content {
        width: 85%;
        height: 100%;

        .user_info {
          background: rgba(55, 61, 168, 1);
          height: 36%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .user_avatar {
            width: 5rem;
            height: 5rem;
            margin-bottom: 1rem;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            // background-image: url('../../assets/images/touxiang_icon@2x.png')
          }

          .user_avatar_border {
            border: 1px solid #ffffff;
            border-radius: 50%;
          }

          .username {
            font-size: 1.25rem;
            padding-bottom: .875rem;
          }

          .email {
            font-size: .875rem;
            font-weight: 200;
          }

          .user_login {
            background: linear-gradient(180deg, rgba(89, 97, 206, 1) 0%, rgba(45, 50, 160, 1) 100%);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
            border-radius: 1.375rem;
            padding: .875rem 6rem;
          }
        }

        .more_info {
          background: rgba(45, 50, 160, 1);
          height: 64%;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          padding-top: 30px;

          a {
            text-decoration: none;
            color: #7D84FF;
          }

          .app_web {
            font-size: 1.25rem;
            padding: 1rem 0;
            color: #7D84FF;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 676px) {
  #app_menu {
    display: none;
  }

  .header {
    height: 85px;
  }

  #header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    // .logo {
    //   // background: url('../../assets/images/LOGO1@2x.png') center/100% no-repeat;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 145px;
    //   height: 33px;
    //   margin-left: 10px
    // }
    a {
      height: 100%;
    }

    .backToHome {
      // background: url('../../assets/images/LOGO1@2x.png') center/100% no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 19px;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .1);
      }

      img {
        width: 25px;
        height: 25px;
      }

      div {
        font-size: 18px;
        font-weight: 200;
        // padding-left: 12px;
        color: rgba(79, 85, 194, 1);
      }
    }

    .header_web {
      height: 100%;

      a {
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 0 10px;
        color: rgba(255, 255, 255, .8);
        text-decoration: none;

        &:hover {
          background-color: rgba(0, 0, 0, .1);
          cursor: pointer;
        }
      }
    }

    .header_menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;

      a {
        height: 100%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header_pic{
        width: 28px;
        height: 28px;
        margin: 0 7px;
        &:hover{cursor: pointer;}
      }
      .facebook{
        background: url('../../assets/images/facebook_icon@2x.png') center/100% no-repeat;
        &:hover{
          background: url('../../assets/images/facebook_hovey_icon@2x.png') center/100% no-repeat;
        }
      }
      .twitter{
        background: url('../../assets/images/twitter_icon@2x.png') center/100% no-repeat;
        &:hover{
          background: url('../../assets/images/twitter_hovey_icon@2x.png') center/100% no-repeat;
        }
      }
      .youtube{
        background: url('../../assets/images/youtube_icon@2x.png') center/100% no-repeat;
        margin-right: 10px;
        &:hover{
          background: url('../../assets/images/youtube_hovey_icon@2x.png') center/100% no-repeat;
        }
      }
    }
  }
}