.makeWater_content {
  width: 824px;
  margin: 0 auto;
  padding-top: 18px;
  box-sizing: border-box;

  .full_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4999);
    z-index: 9999;

    .confirm_box {
      width: 514px;
      height: 166px;
      background: #FFFFFF;
      border-radius: 4px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding-top: 34px;
      box-sizing: border-box;
      text-align: center;

      .full_box_tit {
        font-size: 19px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #060606;
        line-height: 27px;
        padding: 0 44px;
      }

      .wrapper_btn_box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .confirm_btn_box {
          display: inline-block;
          margin-right: 30px;
          // width: 132px;
          padding: 0 10px;
          height: 36px;
          border-radius: 2px;
          border: 1px solid #FFAAAE;
          font-size: 15px;
          font-family: "PingFang SC";
          font-weight: 600;
          color: #FFAAAE;
          line-height: 36px;
          cursor: pointer;
          min-width: 124px;
        }
  
        .confirm_btn_box:hover {
          background:rgba(255,170,174,1);
          color: #FFFFFF;
        }
  
        .cancle_btn_box {
          display: inline-block;
          // width: 132px;
          padding: 0 10px;
          height: 36px;
          background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
          border-radius:2px;
          font-family: "PingFang SC";
          font-weight: 600;
          color: #FFFFFF;
          line-height: 36px;
          cursor: pointer;
          min-width: 124px;
        }
      }
    }
  }

  .water_uploadingBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    z-index: 99;
  }

  .makeWater_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;

    .makeWater_headLeft {
      padding-left: 63px;
      box-sizing: border-box;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-image: url("../../../assets/watermark/xiyin_icon@2x.png");
        background-size: 100% 100%;
        width: 42px;
        height: 41px;
        top: 9px;
        left: 0;
      }

      .headLeft_tit {
        font-size: 21px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 28px;
      }

      .headLeft_tip {
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        margin-top: 2px;
      }
    }

    .makeWater_headRight {
      padding-right: 16px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        .headRight_line {
          transform: translateX(15px);
          transition: all .5s ease-in-out;
        }
      }

      .headRight_tit {
        font-size: 16px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 22px;
        text-align: right;
        position: relative;
      }

      .headRight_line {
        width: 149px;
        height: 1px;
        background-color: #FFFFFF;
        position: relative;
        margin: 2px 0;
        transition: all .5s ease-in-out;
        right: -30px;

        &:after {
          content: '';
          position: absolute;
          background-image: url("../../../assets/watermark/goto@2x.png");
          background-size: cover;
          width: 6px;
          height: 12px;
          right: -3px;
          top: -5px;
        }
      }

      .headRight_tip {
        margin-top: 4px;
        font-size: 13px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 208, 218, 1);
        line-height: 18px;
        text-align: right;
        position: relative;
      }
    }
  }

  .makeWater_box_bg {
    background-image: url("../../../assets/watermark/zuobiaochi_icon@2x.png");
    background-size: 824px auto;
    background-repeat: no-repeat;
  }

  .makeWater_box {
    width:824px;
    background-color:rgba(255,255,255,1);
    box-shadow:0px 2px 25px 0px rgba(224,162,166,0.34);
    padding-top: 17px;
    box-sizing: border-box;

    .video_fullBox {
      margin: 0 auto;
      width:791px;
      height:443px;
      position: relative;
      background: #272727;

      .compose_playBtn {
        position: absolute;
        left: 50%;
        bottom: 27px;
        transform: translate(-50%,0);
        background-image: url("../../../assets/watermark/bofang_big_icon@2x.png");
        background-size: 100% 100%;
        width: 63px;
        height: 64px;
        cursor: pointer;
        z-index: 1001;
      }

      .compose_pauseBtn {
        position: absolute;
        left: 50%;
        bottom: 27px;
        transform: translate(-50%,0);
        background-image: url("../../../assets/watermark/zanting_big_icon@2x.png");
        background-size: 100% 100%;
        width: 63px;
        height: 64px;
        cursor: pointer;
        z-index: 1001;
      }

      .guides_box {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;

        .guides_tip {
          display: none;
          position: absolute;
          top: 20px;
          left: 18px;
          width: 139px;
          height: 46px;
          background-image: url("../../../assets/watermark/fuzhuxian_image@2x.png");
          background-size: 100% 100%;
          padding-top: 14px;
          box-sizing: border-box;
          text-align: center;
          font-size:15px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(255,255,255,1);
          line-height:21px;
        }


        .hor_guide_active {
          background-image: url("../../../assets/watermark/line2hovey_icon@2x.png")!important;
        }

        .ver_guide_active {
          background-image: url("../../../assets/watermark/line1hovey_icon@2x.png")!important;
        }

        .hor_guide_line {
          position: absolute;
          width : 100%;
          //height: 1px;
          //border-top: 1px dashed #FFFFFF;
          background-image: url("../../../assets/watermark/line2_icon@2x.png");
          background-size: 100% 100%;
          height: 2px;
          cursor: url("../../../assets/watermark/tuozhuai_icon@1x.png") 16 16, auto;

          &:hover {
            //border-color: #F44B53;
            background-image: url("../../../assets/watermark/line2hovey_icon@2x.png");
          }
        }

        .ver_guide_line {
          position: absolute;
          //width: 1px;
          height: 100%;
          //border-left: 1px dashed #FFFFFF;
          background-image: url("../../../assets/watermark/line1_icon@2x.png");
          background-size: 100% 100%;
          width: 2px;
          cursor: url("../../../assets/watermark/tuozhuai_2_icon@1x.png") 16 16,auto;

          &:hover {
            //border-color: #F44B53;
            background-image: url("../../../assets/watermark/line1hovey_icon@2x.png");
          }
        }
      }

      .video_box {
        position: absolute;

        video {
          width: 100%;
          height: 100%;
        }

        .mark_box_compose {
          position: absolute;
          width: 80px;
          height: auto;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .mark_box {
          position: absolute;
          width: 80px;
          height: auto;
          border: 1px solid transparent;
          box-sizing: border-box;
          cursor: move;

          &:hover {
            border:1px solid rgba(255,255,255,0.8);
          }

          img {
            width: 100%;
            height: 100%;
          }

          .delete_mark {
            position: absolute;
            background-image: url("../../../assets/watermark/close_icon@2x.png");
            background-size: 100% 100%;
            width: 26px;
            height: 26px;
            top: -13px;
            left: -13px;
            z-index: 9999;
            cursor: pointer;
          }

          .shrink_mark {
            position: absolute;
            background-image: url("../../../assets/watermark/fangda_icon@2x.png");
            background-size: 100% 100%;
            width: 26px;
            height: 26px;
            bottom: -13px;
            right: -13px;
            z-index: 9999;
            cursor: se-resize;
          }
        }

        .water_tipsBox {
          width: 327px;
          height: 204px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background:rgba(255,255,255,0.8979);
          border-radius:4px;
          overflow: hidden;
          padding: 11px;
          box-sizing: border-box;
          z-index: 9000;

          .uploading_cantClick {
            cursor: not-allowed!important;
          }

          .noBorder {
            border: none!important;
            background: none!important;
          }

          .water_tipsContent {
            width:100%;
            height:100%;
            background:rgba(255,255,255,0.6);
            border-radius:4px;
            border:2px dashed rgba(255,51,115,1);
            box-sizing: border-box;
            overflow: hidden;
            cursor: pointer;
            z-index: 9999;
            position: relative;

            .uploading_gifIcon {
              background-image: url("../../../assets/watermark/loading.gif");
              background-size: 100% 100%;
              width: 75px;
              height: 75px;
              margin: 43px auto 29px;
            }

            .uploading_gifTip {
              font-size:15px;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height:21px;
              text-align: center;
            }

            .tipsContent_icon {
              width: 49px;
              height: 49px;
              margin: 43px auto 22px;
              background-image: url("../../../assets/watermark/shangchuan_icon@2x.png");
              background-size: 100% 100%;
            }

            .tipsContent_tit {
              margin-bottom: 12px;
              text-align: center;
              font-size:17px;
              font-family:PingFangSC-Semibold;
              font-weight:600;
              color:rgba(244,75,83,1);
              line-height:23px;
            }

            .tipsContent_tip {
              font-size:13px;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color:rgba(244,75,83,1);
              line-height:18px;
              text-align: center;
            }
          }
        }

        .animations{
          position: absolute;
          top: 0;
          left: 0;
          // z-index: 1000000000;
          width: 100%;
          height: 100%;
        }
      }
    }

    .beforeCompose {
      width: 100%;
      height: 100%;

      .video_controller {
        width: 100%;
        height: 31px;
        background:rgba(255,255,255,1);
        box-shadow:0px -1px 0px 0px rgba(230,230,230,0.5);
        display: flex;
        align-items: center;
        padding: 0 17px;
        box-sizing: border-box;

        .video_play {
          cursor: pointer;
          background-image: url("../../../assets/watermark/bofang_small_icon@2x.png");
          background-size: cover;
          width: 21px;
          height: 21px;
        }

        .video_pause {
          background-image: url("../../../assets/watermark/zanting_samll_icon@2x.png");
        }

        .video_progressBar {
          width:699px;
          height:4px;
          background:rgba(238,238,238,0.499);
          border-radius:3px;
          margin: 0 9px;
          position: relative;
          cursor: pointer;

          .video_progress {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background:rgba(244,75,83,1);
            border-radius:3px;
          }
          .video_progressBtn {
            position: absolute;
            width:11px;
            height:11px;
            background:rgba(244,75,83,1);
            border-radius: 50%;
            top: -3px;
            cursor: pointer;
          }
        }

        .video_time {
          font-size:13px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(255,73,94,1);
          line-height:18px;
        }
      }

      .video_tools {
        width: 100%;
        height:66px;
        background:rgba(255,255,255,1);
        box-shadow:0px -1px 0px 0px rgba(230,230,230,0.5);
        display: flex;
        align-items: center;

        .video_tool {
          width: 25%;
          height: 100%;

          .tool_saveBtn {
            position: relative;
            background-image: url("../../../assets/watermark/baocun_zhankai_icon@2x.png");
            width: 90px;
            height: 36px;
            margin: 15px auto;
            background-size: 100% 100%;

            .tool_saveIcon {
              position: absolute;
              top: -30px;
              right: 0;
              background-image: url("../../../assets/watermark/1_icon@2x.png");
              background-size: 100% 100%;
              width: 28px;
              height: 28px;
              animation: save 1s infinite linear;
            }

            @keyframes save {
              30% {
                width: 28px;
                height: 28px;
                top: -30px;
                right: 0;
              }
              60% {
                width: 28px;
                height: 28px;
                top: -42px;
                right: 0;
              }
              80% {
                width: 14px;
                height: 14px;
                right: 14px;
                top: -20px;
              }
              100% {
                width: 0px;
                height: 0px;
                right: 28px;
                top: 2px;
              }
            }
          }

          .tool_btn {
            position: relative;
            width: 83px;
            height: 36px;
            margin: 15px auto;
            background-size: 100% 100%;
            cursor: pointer;

            &:hover {
              .tool_btn_hover {
                display: block;
              }
            }
            .tool_btn_hover {
              display: none;
              position: absolute;
              top: -32px;
              left: 0px;
              background-size: 100% 100%;
              width: 85px;
              height: 35px;
              font-size:13px;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color:rgba(102,102,102,1);
              line-height:18px;
              text-align: center;
              padding-top: 3px;
              box-sizing: border-box;
              background-image: url("../../../assets/watermark/tishifuceng_icon@2x.png");
            }
            .tool_btn_hover_foreign {
              left: -24px;
              width: 130px;
            }
          }
          // 隐藏动态压条
          &:nth-child(1) {
            .tool_btn {
              background-image: url("../../../assets/watermark/shuiyin_icon@2x.png");
            }
            .tool_btn:hover {
              background-image: url("../../../assets/watermark/shuiyin_hover_icon@2x.png");
            }
          }
          &:nth-child(2) {
            .tool_btn {
              background-image: url("../../../assets/watermark/fuzhuxian_icon@2x.png");
            }
            .tool_btn:hover {
              background-image: url("../../../assets/watermark/fuzhuxian_hover_icon@2x.png");
            }
            .tool_btn_active {
              background-image: url("../../../assets/watermark/fuzhuxian_hover_icon@2x.png");
            }
          }
          &:nth-child(3) {
            .tool_btn {
              background-image: url("../../../assets/watermark/baocun_icon@2x.png");
            }
            .tool_btn:hover {
              background-image: url("../../../assets/watermark/baocun_hover_icon@2x.png");
            }
          }
          &:nth-child(4) {
            .tool_btn {
              background-image: url("../../../assets/watermark/moban_icon@2x.png");
            }
            .tool_btn:hover {
              background-image: url("../../../assets/watermark/moban_hover_icon@2x.png");
            }
          }



          //显示动态压条
          // &:nth-child(1) {
          //   .tool_btn {
          //     background-image: url("../../../assets/watermark/shuiyin_icon@2x.png");
          //   }
          //   .tool_btn:hover {
          //     background-image: url("../../../assets/watermark/shuiyin_hover_icon@2x.png");
          //   }
          // }
          // &:nth-child(2) {
          //   .tool_btn {
          //     background-image: url("../../../assets/watermark/dynamics_text.png");
          //   }
          //   .tool_btn:hover {
          //     background-image: url("../../../assets/watermark/active_dynamics_text.png");
          //   }
          //   .tool_btn_active {
          //     background-image: url("../../../assets/watermark/active_dynamics_text.png");
          //   }
          // }
          // &:nth-child(3) {
          //   .tool_btn {
          //     background-image: url("../../../assets/watermark/fuzhuxian_icon@2x.png");
          //   }
          //   .tool_btn:hover {
          //     background-image: url("../../../assets/watermark/fuzhuxian_hover_icon@2x.png");
          //   }
          //   .tool_btn_active {
          //     background-image: url("../../../assets/watermark/fuzhuxian_hover_icon@2x.png");
          //   }
          // }
          // &:nth-child(4) {
          //   .tool_btn {
          //     background-image: url("../../../assets/watermark/baocun_icon@2x.png");
          //   }
          //   .tool_btn:hover {
          //     background-image: url("../../../assets/watermark/baocun_hover_icon@2x.png");
          //   }
          // }
          // &:nth-child(5) {
          //   .tool_btn {
          //     background-image: url("../../../assets/watermark/moban_icon@2x.png");
          //   }
          //   .tool_btn:hover {
          //     background-image: url("../../../assets/watermark/moban_hover_icon@2x.png");
          //   }
          // }
        }
      }

      .video_compose {
        width: 100%;
        height: 66px;
        background:rgba(255,255,255,1);
        box-shadow:0px -1px 0px 0px rgba(230,230,230,0.5);
        overflow: hidden;
        text-align: center;

        .vide_composeBtn {
          display: inline-block;
          margin: 15px 0;
          padding: 0 28px;
          box-sizing: border-box;
          height:36px;
          background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
          border-radius:3px;
          font-size:15px;
          font-family:PingFangSC-Medium;
          font-weight:500;
          color:rgba(255,255,255,1);
          line-height:36px;
          text-align: center;
          cursor: pointer;

          &:hover {
            background:linear-gradient(135deg,rgba(255,140,125,1) 0%,rgba(255,109,146,1) 100%);
          }
        }
      }
    }

    .successComposeBox {
      width: 100%;
      height: 117px;
      display: flex;
      align-items: center;
      justify-content: center;

      .downloadCompose {
        width:85px;
        height:36px;
        background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
        border-radius:3px;
        font-size:15px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:36px;
        cursor: pointer;
        text-align: center;

        &:hover {
          background:linear-gradient(135deg,rgba(255,140,125,1) 0%,rgba(255,109,146,1) 100%);
        }
      }

      .replyOther {
        width:136px;
        height:36px;
        border-radius:3px;
        border:1px solid rgba(255,184,180,1);
        margin-left: 41px;
        font-size:15px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,73,94,1);
        line-height:36px;
        cursor: pointer;
        text-align: center;

        &:hover {
          border:1px solid rgba(255,126,134,1);
          color:rgba(255,126,134,1);
        }
      }
    }

    .composeBox {
      width: 100%;
      height: 100%;
      padding: 10px 33px 18px;
      box-sizing: border-box;

      .composeTit {
        font-size:15px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(39,39,39,1);
        line-height:21px;
      }

      .composeProgressBar {
        margin: 10px 0 16px;
        width: 100%;
        height: 6px;
        background:rgba(239,239,239,1);
        box-shadow:0px 1px 3px 0px rgba(172,172,172,0.5);
        border-radius:3px;
        position: relative;

        .composeProgress {
          position: absolute;
          background:rgba(255,73,94,1);
          border-radius:3px;
          left: 0;
          top: 0;
          bottom: 0;
        }
      }

      .cancleCompose {
        width: 85px;
        height: 36px;
        border-radius: 3px;
        border: 1px solid rgba(255, 184, 180, 1);
        font-size: 15px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 73, 94, 1);
        line-height: 36px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}