.messageforuser {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 13px 0px rgba(58, 89, 123, 0.1);
  border-radius: 3px 3px 0px 0px;
  max-width: 1200px;
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 30px;

  .messageforuser_top {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: rgba(138, 138, 138, 1);
    border-radius: 3px;
    padding: 10px;

    .messageforuser_username {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      // div {
      //   width: 3px;
      //   height: 10px;
      //   background: rgba(138, 138, 138, 1);
      // }

      // p {
      //   padding-left: 4px;
      // }
    }

    .messageforuser_question {
      // font-size: 14px;
      // font-family: PingFangSC-Regular;
      // color: rgba(138, 138, 138, 1);
      // line-height: 24px;
      // padding: 8px 0 0 8px;
      font-size: 20px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: rgba(39, 39, 39, 1);
      line-height: 30px;
      padding-top: 8px;
    }
  }

  .messageforuser_bottom {
    width: 100%;
    padding: 20px 10px 10px 10px;
    background: rgba(251, 251, 251, 1);

    .messageforuser_tips {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 8px;

      div {
        background: url('../../../assets/payPage/tips.png') center/100% no-repeat;
        width: 18px;
        height: 18px;
      }

      p {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        color: rgba(138, 138, 138, 1);
        padding-left: 4px;
      }
    }

    .messageforuser_answer {
      width: 100%;
      // font-size: 20px;
      // font-family: PingFangSC-Semibold;
      // font-weight: 600;
      // color: rgba(39, 39, 39, 1);
      // line-height: 30px;
      font-size: 20px;
      font-family: PingFangSC-Regular;
      color: rgba(102, 102, 102, 1);
      line-height: 30px;
    }
  }
}

.messageforuser_nodeal {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 13px 0px rgba(58, 89, 123, 0.1);
  border-radius: 3px 3px 0px 0px;
  max-width: 1200px;
  padding: 20px 20px 30px 40px;
  width: 100%;
  margin-bottom: 30px;

  .messageforuser_top {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: rgba(138, 138, 138, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .messageforuser_question {
    font-size: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 600;
    color: rgba(39, 39, 39, 1);
    line-height: 30px;
    padding-top: 8px;
  }
}