.trans-box {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  position: relative;

  .drag_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 999;
  }

  .full_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4999);
    z-index: 999;

    .confirm_box {
      width: 514px;
      height: 166px;
      background: #FFFFFF;
      border-radius: 4px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding-top: 34px;
      box-sizing: border-box;
      text-align: center;

      .full_box_tit {
        font-size: 19px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #060606;
        line-height: 27px;
        padding: 0 44px;
      }

      .wrapper_btn_box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;


        .confirm_btn_box {
          display: inline-block;
          margin-right: 30px;
          // width: 132px;
          padding: 0 10px;
          height: 36px;
          border-radius: 2px;
          border: 1px solid #FFAAAE;
          font-size: 15px;
          font-family: "PingFang SC";
          font-weight: 600;
          color: #FFAAAE;
          line-height: 36px;
          cursor: pointer;
          min-width: 124px;
        }
  
        .confirm_btn_box:hover {
          background:rgba(255,170,174,1);
          color: #FFFFFF;
        }
  
        .cancle_btn_box {
          display: inline-block;
          // width: 132px;
          padding: 0 10px;
          height: 36px;
          background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
          border-radius:2px;
          font-family: "PingFang SC";
          font-weight: 600;
          color: #FFFFFF;
          line-height: 36px;
          cursor: pointer;
          min-width: 124px;
        }
      }
    }
  }

  .transBox {
    width: 100%;
    min-height: 747px;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
    .transAd{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      z-index: 9;
    }
    .trans-main {
      text-align: left;
      display: inline-block;
      height: 100%;
      min-width: 950px;

      .trans-left {
        float: left;
        margin-right: 147px;
        padding-top: 137px;
        box-sizing: border-box;
        position: relative;
        height: 100%;

        .trans-left-tit {
          font-size: 24px;
          font-family: "PingFang SC";
          font-weight: 500;
          color: #000;
          line-height: 31px;
        }

        .trans-left-tip {
          margin: 15px 0 26px;
          font-size: 14px;
          font-family: "PingFang SC";
          color: #000;
          line-height: 21px;
        }

        .trans-controller {
          width: 378px;
          height: 229px;
          position: relative;
          cursor: pointer;
          z-index: 9999;

          &:hover {
            .controller-main {
              .controller-icon {
                background-image: url("../../assets/tianjia_hover_icon@2x.png");
              }
            }
          }

          .controller-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            filter: blur(16px);
          }

          .controller-main {
            position: relative;
            background: #FFFFFF;
            width: 378px;
            height: 229px;
            padding-top: 68px;
            box-sizing: border-box;

            .controller-icon {
              background-image: url("../../assets/tianjia_icon@2x.png");
              background-size: cover;
              width: 66px;
              height: 66px;
              margin: 0 auto;
            }

            .controller-tip {
              text-align: center;
              margin-top: 14px;
              font-size: 17px;
              font-family: "PingFang SC";
              font-weight: 500;
              color: #000;
              line-height: 23px;
            }
          }
        }
      }

      .trans-right {
        padding-top: 226px;
        box-sizing: border-box;
        text-align: left;
        float: left;

        .trans-right-tit {
          font-size: 26px;
          font-family: "PingFang SC";
          font-weight: 500;
          color: #FFFFFF;
          line-height: 35px;
        }

        .trans-right-tip {
          margin: 7px 0 15px;
          font-size: 15px;
          font-family: "PingFang SC";
          font-weight: 400;
          color: #FFFFFF;
          line-height: 21px;
        }

        .toPay-btn {
          // width: 226px;
          // max-width: 372px;
          height: 37px;
          border-radius: 2px;
          border: 1px solid #F44B53;
          color: #F44B53;
          font-size: 17px;
          font-family: "PingFang SC";
          font-weight: 600;
          line-height: 37px;
          text-align: center;
          // display: block;
          padding: 6px 14px;

          &:hover {
            //border:1px solid rgba(255,126,134,1);
            //color: #FF7E86;
            background: rgba(0,0,0,.2);
          }
        }

        .trans-right-box {
          margin-top: 21px;
          // overflow: hidden;
          // width: 500px;//6-3
          width: 350px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          box-sizing: border-box;
          div{
            box-sizing: border-box;
          }

          // :nth-child(odd) p {//6-3
          //   width: 90% !important;
          // }

          .right-box-list {
            float: left;
            padding-left: 30px;
            box-sizing: border-box;
            position: relative;
            margin-bottom: 17px;
            // width: 50%;//6-3
            width: 100%;

            .right-list-tit {
              font-size: 14px;
              font-family: PingFangSC-Medium;
              font-weight: 500;
              color: #FFFFFF;
              line-height: 18px;
              width: 100%;
            }

            .right-list-content {
              margin-top: 2px;
              font-size: 14px;
              // transform: scale(.9) translateX(-10px);
              font-family: PingFangSC-Regular;
              color: #FFFFFF;
              line-height: 17px;
              width: 100%;
            }

            .right-list-icon {
              position: absolute;
              left: 0;
              top: 9px;
              width: 20px;
              height: 20px;
              background-size: 100% 100% ;
            }

            .right-list-icon1 {
              background-image: url("../../assets/zhuanhuan_icon@2x.png");
            }
            .right-list-icon2 {
              background-image: url("../../assets/zaixian_icon@2x.png");
            }
            .right-list-icon3 {
              background-image: url("../../assets/sudu_icon@2x.png");
            }
            .right-list-icon4 {
              background-image: url("../../assets/duoge_icon@2x.png");
            }
            .right-list-icon5 {
              background-image: url("../../assets/anquan_icon@2x.png");
            }
            .right-list-icon6 {
              background-image: url("../../assets/jishu_icon@2x.png");
            }
          }
        }
      }
    }
  }
}