
.UploadWorkArea{
  width: 100%;
  // width: 1860px;
  height: 301px;
  background:linear-gradient(90deg,rgba(82,77,252,1) 0% ,rgba(141,130,254,1) 50%,rgba(82,77,252,1) 100%);
  border-radius:22px;
  border-radius:22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .add{
    width: 84px;
    height: 84px;
    background: url('../../../assets/removewatermark/add@2x.png') no-repeat;
    background-size: cover;
    cursor: pointer;
     margin: 0 auto;
  }
  .upload-tips{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
  }
  .uploadingBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // margin: auto;
    padding-top: 98px;
    box-sizing: border-box;

    .uploading_percent {
      font-size:14px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:#fff;
      line-height:20px;
      text-align: center;
    }

    .uploading_perline {
      margin: 19px auto 62px;
      width:1013px;
      height:6px;
      background:rgba(239,239,239,1);
      box-shadow:0px 1px 3px 0px rgba(172,172,172,0.5);
      border-radius:3px;
      position: relative;

      .uploading_perlineing {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background:#FCB96A;
        border-radius:3px;
      }
    }

    .uploading_cancelBtn {
      cursor: pointer;
      width:80px;
      height:34px;
      border-radius:3px;
      // border:1px solid rgba(255,184,180,1);
      margin: 0 auto;
      font-size:14px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:#fff;
      line-height:34px;
      text-align: center;
      background: #6861FD;
      &:hover {
        border:1px solid rgba(255,126,134,1);
        color:rgba(255,126,134,1);
      }
    }
  }
}