.controller_video {
  width: 556px;

  video {
    margin: 94px 0 20px 0;
    width: 556px;
    height: 313px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 1);
    object-fit: contain;
  }

  .controller_option {
    .controller_box {
      display: flex;
      justify-content: space-around;

      .controller_bar {
        height: 86px;
        width: 100%;
        border-radius: 2px 0px 0px 2px;
        border: 1px solid rgba(255, 255, 255, .7);
        display: flex;
        justify-content: space-between;

        .controller_nouse {
          height: 100%;
          background: rgba(255, 255, 255, .7);
          position: relative;

          .controller_startpos {
            width: 14px;
            height: 92px;
            background: rgba(242, 95, 93, 1);
            box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.5);
            position: absolute;
            right: -7px;
            top: -4px;

            &:hover {
              cursor: pointer;
            }
          }

          .controller_endpos {
            width: 14px;
            height: 92px;
            background: rgba(242, 95, 93, 1);
            box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.5);
            position: absolute;
            left: -7px;
            top: -4px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .controller_use {
          height: 100%;
        }
      }

      .controller_time {
        padding: 12px 0;
      }

      .controller_button {
        background: rgba(39, 22, 126, 1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        width: 158px;
        text-align: center;
        padding: 7px 0;
        &:hover{cursor: pointer;}
      }
    }
  }
}