.audioBefore{
  height:350px;
  background:linear-gradient(90deg,rgba(35,115,200,1) 0%,rgba(10,87,168,1) 100%);
  position: relative;
  padding-top: 92px;
  box-sizing: border-box;
  .before-title{
    text-align: center;
    font-size:32px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:45px;
    position: relative;
    z-index: 3;
  }
  .before-desc{
    margin-top: 6px;
    text-align: center;
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:22px;
    position: relative;
    z-index: 3;
  }
  .before-upload{
    width:580px;
    height:186px;
    background:rgba(255,255,255,1);
    box-shadow:0px 18px 30px 0px rgba(71,86,168,0.09);
    border-radius:4px;
    position: relative;
    z-index: 10;
    margin: 40px auto 0;
    padding-top: 48px;
    box-sizing: border-box;
    button{
      display: block;
      width:212px;
      height:58px;
      background:rgba(11,184,216,1);
      border-radius:4px;
      margin: 0 auto 20px;
      font-size:18px;
      font-family:PingFangSC-Semibold;
      font-weight:600;
      color:white;
      cursor: pointer;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover{
        background:rgba(23,196,228,1);
        box-shadow:0px 5px 10px 0px rgba(11,184,216,0.33);
        transform: translateY(-5px);
      }
    }
    p{
     text-align: center;
      font-size:13px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(153,153,153,1);
      line-height:18px;
    }
  }
  .cercle-one{
    position: absolute;
    width: 1162px;
    height: 350px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    &::before{
      position: absolute;
      content: '';
      width: 1162px;
      height: 1162px;
      background:rgba(11,184,216,.18);
      border-radius: 50%;
      top:-300px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .cercle-two{
    position: absolute;
    width: 732px;
    height: 350px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    &::before{
      position: absolute;
      content: '';
      width:732px;
      height:732px;
      background:rgba(11,184,216,.27);
      border-radius: 50%;
      top:-100px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .cercle-third{
    position: absolute;
    width: 338px;
    height: 350px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    &::before{
      position: absolute;
      content: '';
      width:338px;
      height:338px;
      background:rgba(11,184,216,.57);
      border-radius: 50%;
      top:113px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}