.voteResultItem {
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 10px 0 20px;

  .item_index {
    float: left;
    width: 40px;
  }
  .item_title {
    float: left;
    width: 240px;
    margin-left: 30px;
  }
  .item_num {
    float: right;
    width: 120px;
  }
  .item_percent {
    overflow: hidden;
    margin: 0 140px 0 340px;
    .el-progress {
      margin-top: 23px;
      .el-progress-bar__outer{
        height: 8px!important;
      }
    }
  }
}