@keyframes inAndOut{
  0%{
    transform: translateX(-100%);
  }
  20%{
    transform: translateX(0);
  }
  90%{
    transform: translateX(0);
  }
  100%{
    // transform: translateX(-100%);
    transform: translateX(0);
  }
}

@keyframes inAndOutLine{
  0%{
    transform: translateX(-100%);
  }
  10%{
    transform: translateX(-100%);
  }
  20%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes upShow{
  0%{
    visibility: hidden;
    transform: translateY(100%);
  }
  1%{
    visibility: visible;
    transform: translateY(100%);
  }
  20%{
    visibility: visible;
    transform: translateY(0);
  }
  100%{
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes downShow{
  0%{
    visibility: hidden;
    transform: translateY(-100%);
  }
  1%{
    visibility: visible;
    transform: translateY(-100%);
  }
  20%{
    visibility: visible;
    transform: translateY(0);
  }
  100%{
    visibility: visible;
    transform: translateX(0);
  }
}

#character{
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  div {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
  }

  .character_inner{
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;
    // transform: translateX(-100%);
    background-color: #fddd46;
    color: #222222;
    animation: inAndOut ease-in-out;

    .character_name{
      width: 100%;

      div{
        font-size: 22px;
        width: 100%;
        // visibility: hidden;
        visibility: visible;
        justify-content: flex-start;
        align-items: flex-end;
        animation: upShow ease-in-out;
        word-break: break-all;
      }
    }

    .character_line{
      height: 1px;
      margin: 4px 0;
      background-color: #000000;
      animation: inAndOutLine ease-in-out;
    }
  
    .character_resume{
      width: 100%;
      
      div{
        font-size: 14px;
        width: 100%;
        // visibility: hidden;
        visibility: visible;
        justify-content: flex-start;
        align-items: flex-start;
        animation: downShow ease-in-out;
        word-break: break-all;
      }
    }
  }
}