
.click_bg {
    background: #2C2C2C!important;
    color: #FFFFFF!important;
}

.fbl_click_icon {
    background-image: url("../assets/xia_write_icon@1x.png")!important;
}

/*不显示input num的上下箭头*/

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}