.market_set {
  h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .operate_header {
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    h2 {
      font-size: 16px;
      font-weight: bold;
      float: left;
      margin-right: 24px;
    }
    .tips {
      font-size: 12px;
      color: #cccccc;
      margin-left: 14px;
    }
  }
  .ad_block {
    margin-bottom: 20px;
  }
  //分享预览
  .share_preview {
    margin-bottom: 20px;
  }
  .share_block {
    width: 450px;
    float: left;
    .appMessage{
      .share_img{
        float: right;
      }
      .share_desc{
        margin-right: 50px;
      }
    }
    .timeLine{
      .share_img{
        float: left;
      }
      .share_desc{
        margin-left: 50px;
        margin-top: 4px;
      }
    }
  }
  .share_demo {
    margin-left: 60px;
    margin-top: 10px;
    .user_avatar {
      width: 30px;
      height: 30px;
      background: url('../../../../../assets/images/h5/avater.png') no-repeat;
      background-size: cover;
      float: left;
      margin-top: 10px;
    }
    .share_content{
      margin-left: 40px;
      .user_name{
        color: #3176FD;
        font-weight: 400;
        margin-bottom: 6px;
      }
      .share_msg{
        width: 260px;
        background-color: #FAFAFA;
        box-sizing: border-box;
        padding: 10px;
      }
    }

    h4{
      color: #272727;
      font-weight: 600;
      margin: 6px 0 10px;
    }
    .share_img{
      width: 44px;
      height: 44px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  }
}