@keyframes rotateDolpin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
@keyframes scoleDolpin {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
.dropfile {
  width: 396px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: 2px dashed rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .active_dolpin{
    animation: 1s scoleDolpin;
    transition: all .3s;
  }

  .deactive_dolpin{
    animation: 2s rotateDolpin;
  }

  .drop_tip ,.app_drop_tip{
    font-size: 18px;
  }

  .drop_note {
    font-weight: 300;
    padding-top: 10px;
    font-size: 14px;
  }

  .drop_waiting {
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    bottom: 12px;
  }
}

.dropfile_big {
  height: 220px;
  transition: all 1s ease-out;

  &>.dolpin {
    // width: 104px;
    // height: 130px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -76px;
    z-index: 5;
  }
  &>.file {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &>.droptips {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 12px;
  }
}

.dropfile_small {
  height: 130px;
  transition: all .3s ease-out;

  &>.dolpin {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -65px;
  }
  &>.file {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
  }

  &>.droptips {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 12px;
  }
}
@media screen and (max-width: 675px) {
  #wrapper .dropfile_big{
    width: 18.9375rem;
    height: 10.375rem;
  }
  #wrapper .dropfile_small{
    width: 18.9375rem;
    height: 7.0625rem;
  }
  #wrapper .drop_tip{
    display: none;
  }
  .dropfile_big {
    transition: all 1s ease-out;
    &>.dolpin {
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: -48px;
    }
    &>.file {
      width: 100%;
      height: 60%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }
  .dropfile_small {
    transition: all .3s ease-out;
    &>.dolpin {
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: -38px;
    }
    &>.file {
      width: 100%;
      height: 80%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
  }
  .dropfile{
    .active_dolpin{
      animation: 1s scoleDolpin;
      transition: all .3s;
    }
    .deactive_dolpin{
      animation: 2s rotateDolpin;
    }
    .drop_waiting {
      font-weight: 500;
      font-size: 16px;
      position: absolute;
      bottom: 0;
    }
  }
}
@media screen and (min-width: 676px) {
  #wrapper .app_drop_tip{
    display: none;
  }
}