.moudleList_page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4999);
  z-index: 9999;

  .moudleList_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 824px;

    .moudleList_head {
      width: 100%;
      height: 81px;
      background: #FFFFFF;
      font-size: 21px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(6, 6, 6, 1);
      line-height: 81px;
      text-align: center;
      position: relative;

      .closeMoudleList {
        position: absolute;
        top: 23px;
        right: 23px;
        background-image: url("../../../../assets/watermark/guanbi_icon@2x.png");
        background-size: 100% 100%;
        width: 21px;
        height: 21px;
        cursor: pointer;

        &:hover {
          background-image: url("../../../../assets/watermark/guanbi_hover_icon@2x.png");
        }
      }
    }

    .moudleList_content {
      width: 100%;
      height: 477px;
      padding-bottom: 48px;
      box-sizing: border-box;
      background: #F8F9FA;
      overflow-y: scroll;

      .active {
        border: 1px solid rgba(255, 51, 115, 1)!important;
      }

      .moudleList_detail {
        width: 250px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
        margin-top: 17px;
        margin-left: 17px;
        border: 1px solid transparent;
        float: left;
        position: relative;

        .moudleTip {
          position: absolute;
          width: 184px;
          height: 46px;
          background-image: url("../../../../assets/watermark/mobanqiming_icon@2x.png");
          background-size: 100% 100%;
          font-size:15px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(255,255,255,1);
          line-height:21px;
          padding-top: 7px;
          box-sizing: border-box;
          z-index: 99;
          text-align: center;
          right: -73px;
          top: 99px;
          display: none;
        }

        .moudle_detail_box {
          width: 100%;
          height: 140px;
          background: rgba(232, 232, 232, 1);
          position: relative;
          cursor: pointer;


          .moudle_detail_imgBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../../../../assets/watermark/yinying@2x.png");
            background-size: 6px 6px;
            background-repeat: repeat;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .moudle_controlBox {
          width: 100%;
          height: 58px;
          padding: 9px 11px;
          box-sizing: border-box;

          .moudle_nameBox {
            width: 100%;
            overflow: hidden;
            position: relative;
            margin-bottom: 11px;

            .input_name {
              width: 200px;
              height: 18px;
              border: 1px solid rgba(138, 138, 138, 1);
              display: block;
              padding: 0 2px;
              box-sizing: border-box;
              position: relative;
              font-size: 13px;
              font-family: PingFangSC-Regular;
              font-weight: 400;
              color: rgba(39, 39, 39, 1);
              line-height: 18px;
            }

            .moudle_name {
              max-width: 210px;
              font-size: 13px;
              font-family: PingFangSC-Regular;
              font-weight: 400;
              color: rgba(39, 39, 39, 1);
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .edit_active {
              background-image: url("../../../../assets/watermark/xiugai_click_cion@2x.png") !important;
            }

            .moudle_editName {
              position: absolute;
              right: 0;
              top: 2px;
              background-image: url("../../../../assets/watermark/xiugai_icon@2x.png");
              background-size: 100% 100%;
              width: 13px;
              height: 13px;
              cursor: pointer;

              &:hover {
                background-image: url("../../../../assets/watermark/xiugai_hover_icon@2x.png");
              }
            }
          }

          .moudle_timeBox {
            width: 100%;
            overflow: hidden;
            position: relative;

            .moudle_time {
              max-width: 210px;
              font-size: 13px;
              font-family: PingFangSC-Regular;
              font-weight: 400;
              color: rgba(138, 138, 138, 1);
              line-height: 16px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .delete_active {
              background-image: url("../../../../assets/watermark/delete_click_icon@2x.png") !important;
            }

            .moudle_delete {
              position: absolute;
              top: 0;
              right: 0;
              background-image: url("../../../../assets/watermark/delete_icon@2x.png");
              background-size: 100% 100%;
              width: 15px;
              height: 15px;
              cursor: pointer;

              &:hover {
                background-image: url("../../../../assets/watermark/delete_hover_icon@2x.png");
              }

              &:active {
                background-image: url("../../../../assets/watermark/delete_click_icon@2x.png");
              }
            }
          }
        }
      }

      .nomoudleList_box {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .nomoudleList_img {
          margin: 74px auto 28px;
          width: 342px;
          height: 238px;
          background-image: url("../../../../assets/watermark/mobankong_icon@3x.png");
          background-size: 100% 100%;
        }

        .nomoudleList_tit {
          font-size:21px;
          font-family:PingFangSC-Medium;
          font-weight:500;
          color:rgba(39,39,39,1);
          line-height:34px;
          text-align: center;
        }

        .nomoudleList_tip {
          font-size:15px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(140,140,140,1);
          line-height:34px;
          text-align: center;
        }
      }

      /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
      ::-webkit-scrollbar {
        width: 6px;
        height: 312px;
        background: rgba(39, 39, 39, 0.1457);
      }

      /*定义滚动条轨道 内阴影+圆角*/
      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        background-color: lightgray;
      }

      /*定义滑块 内阴影+圆角*/
      ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        //background-color: blue;
      }

    }

    .moudleList_bottom {
      width: 100%;
      height: 64px;
      background: #FFFFFF;
      overflow: hidden;

      .moudleList_btn {
        width: 85px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 3px;
        margin: 14px auto;
        font-size: 15px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 36px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background:linear-gradient(135deg,rgba(255,140,125,1) 0%,rgba(255,109,146,1) 100%);
        }
      }

      .cantClick {
        cursor: not-allowed!important;
        background:rgba(204,204,204,1);

        &:hover {
          background:rgba(204,204,204,1);
        }
      }
    }
  }
}