.download_record{
  width: 207px;
  height: 66px;
  margin: 0 6px 12px 6px;
  border: 1px solid rgba(255,255,255,.1);
  background-color:rgba(0,0,0,.1);
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  &:hover{ 
    cursor: pointer;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.1);
  }
  & .download_record_inner{
    width: 100%;
    padding: 10px 0;
    display: flex;
    .record_date_img{
      width: 14px;
      height: 15px;
      padding: 0 10px;
    }
    & .download_record_content{
      width: 77%;
      display: flex;
      align-items: center;
      padding-left: 6px;
      img{
        width: 34px;
        height: 15px;
        padding: 0 10px
      }
    }
    & .download_record_download{
      width: 23%;
      border-left: 1px solid rgba(255,255,255,.1);
      padding: 17px 0;
      display: flex;
      justify-content: center;
      img{
        width: 14px;
        height: 15px;
      }
    }
  }
}