.list-box{
  font-size: 0;
  .ulList{
    background-color: #f2f2f2;
  }
  li{
    position: relative;
    margin-bottom: .24rem;
    div.pic{
      width: 7.5rem;
      height: 4.22rem;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .videoBox{
      width: 7.5rem;
      height: 4.22rem;
      position: relative;
      video{
        width: 7.5rem !important;
        height: 4.22rem !important;
      }
    }
    .video-cover{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: url(../../assets/video_cover.png) no-repeat center/100%;
    }
    .video-title{
      padding: .2rem;
      font-size: .3rem;
      font-weight: bold;
      color: #fff;
    }
    .list-info{
      height: .94rem;
      background-color: white;
    }
    .video-length{
      position: absolute;
      right: 0;
      bottom: 0;
      padding: .1rem .22rem;
      font-size: .22rem;
      color: white;
      background-color: rgba(0,0,0,.8);
      border-radius: .08rem 0 0 0;
    }
    .list-info{
      box-sizing: border-box;
      padding: .22rem .18rem 0;
      .seewhole{
        font-size: .24rem;
        color: #3091F2;
        padding: .12rem .24rem ;
        border: 1px solid #3091F2;
        text-decoration: none;
        display: inline-block;
        border-radius: .3rem;
      }
      div{
        float: right;
        font-size: .22rem;
        p{
          display: inline-block;
          vertical-align: top;
          text-decoration: none;
          color: rgb(128,128,128);
          padding: .04rem 0 .04rem .47rem;
          margin-left: .37rem;

        }
      }
    }
  }
}
.commen-btn{
  background: url(../../assets/home_icon_comment1.png) no-repeat left center / .36rem .36rem ;
  font-size: .28rem;
  color: #010101;
}
.fellow-btn{
  background: url(../../assets/home_icon_like_normal.png) no-repeat left center / .31rem .27rem;
}
.fellow-btn.active{
  background: url(../../assets/home_icon_like.png) no-repeat left center / .31rem .27rem;
}

.play-btn{
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 1.6rem;
  margin-left:-0.5rem ;
  background: url(../../assets/home_icon_play.png) no-repeat center / 100% 100%;
  z-index: 9;
}