.bottombar{
  background-color: rgba(45,50,160,1);
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  .BottomButton {
    font-size: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 0 10px;
    cursor: pointer;
    &:hover{
      text-decoration: underline yellow;
    }
  }
}