.mulipay{
  .mulipay-top{
    height: 341px;
    background: url(../../assets/images/vip-pagewps.jpg) no-repeat center / cover;
    position: relative;
    overflow: hidden;
    min-width: 1280px;
    h2{
      text-align: center;
      font-size:40px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:56px;
      margin: 28px 0 10px;
    }
    h3{
      text-align: center;
      font-size:18px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:25px;
    }
    ul.vip-server{
      width: 1056px;
      margin: 47px auto 0;
      .server-item{
        width: 195px;
        height: 175px;
        margin-right: 20px;
        background: white;
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 12px 0;
        vertical-align: top;
        border-radius: 10px 10px 0 0;
        &:nth-last-of-type(1){
          margin-right: 0;
        }
        .server-icon{
          width: 60px;
          height: 60px;
          margin: 0 auto;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .server-title{
          font-size:16px;
          font-family:PingFangSC-Semibold;
          font-weight:600;
          color:rgba(0,0,0,1);
          line-height:22px;
          text-align: center;
          margin-top: 10px;
        }
        .server-desc{
          margin-top: 6px;
          font-size:14px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(102,102,102,1);
          line-height:20px;
          text-align: center;
        }
        &:nth-of-type(1){
          .server-icon{
            background-image: url(../../assets/images/icon_same.png);
          }
        }
        &:nth-of-type(2){
          .server-icon{
            background-image: url(../../assets/images/icon_vipflot.png);
          }
        }
        &:nth-of-type(3){
          .server-icon{
            background-image: url(../../assets/images/icon_water.png);
          }
        }
        &:nth-of-type(4){
          .server-icon{
            background-image: url(../../assets/images/icon_fast.png);
          }
        }
        &:nth-of-type(5){
          .server-icon{
            background-image: url(../../assets/images/icon_noad.png);
          }
        }
      }
      &.remove{
        .server-item{
          &:nth-of-type(1){
            .server-icon{
              background-image: url(../../assets/removewatermark/moreTimes.png);
            }
          }
          &:nth-of-type(2){
            .server-icon{
              background-image: url(../../assets/images/icon_vipflot.png);
            }
          }
          &:nth-of-type(3){
            .server-icon{
              background-image: url(../../assets/images/icon_water.png);
            }
            .server-title{
              position: relative;
              &:before{
                position: absolute;
                content: '';
                width: 15px;
                top: 0;
                left: 0px;
                height: 20px;
                background: url(../../assets/removewatermark/jinpai.png) no-repeat center /cover;
              }
            }
          }
          &:nth-of-type(4){
            .server-icon{
              background-image: url(../../assets/images/icon_same.png);

            }
          }
          &:nth-of-type(5){
            .server-icon{
              background-image: url(../../assets/images/icon_fast.png);
            }
          }
        }
      }
    }

  }
  .mulipay-bottom{
    min-width: 1280px;
    min-height: 410px;
    height: calc( 100vh - 435px);
    background-color: white;
    position: relative;
    text-align: center;
    &:before{
      position: absolute;
      content: '';
      width: 33px;
      height: 33px;
      left: 36px;
      bottom: 60px;
      background: url(../../assets/images/vip_left.png) no-repeat center / cover;
    }
    &:after{
      position: absolute;
      content: '';
      width: 105px;
      height: 130px;
      top: 28px;
      right:18px;
      background: url(../../assets/images/vip_right.png) no-repeat center / cover;
    }
    >div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    .onemonth , .oneYear {
      width: 243px;
      height:246px;
      display: inline-block;
      vertical-align: top;
      padding-top: 16px;
      box-sizing: border-box;
      h2{
        font-size:20px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        line-height:28px;
      }
      .price {
        font-size:42px;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        line-height:59px;
        margin-top: 14px;
        position: relative;
        .oldprice{
          position: absolute;
          font-size:16px;
          font-family:PingFangSC-Regular;
          font-weight:400;
          color:rgba(239,239,239,1);
          line-height:22px;
          top: 46px;
          right: 26px;
          text-decoration: line-through;
        }
      }
      .desc {
        font-size:12px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        line-height:17px;
      }
      button{
        margin-top: 37px;
        width:171px;
        height:30px;
        border-radius:4px;
        font-size:12px;
        font-family:PingFangSC-Semibold;
        font-weight:600;
        line-height:17px;
        cursor: pointer;
      }
    }
    .onemonth {
      margin-right: 60px;
      background:rgba(255,255,255,1);
      box-shadow:0px 1px 0px 0px rgba(230,230,230,0.7),0px -1px 0px 0px rgba(230,230,230,0.7),-1px 0px 0px 0px rgba(230,230,230,0.7),1px 0px 0px 0px rgba(230,230,230,0.7);
      color: #000000;
      .desc {
        color:rgba(138,138,138,1);
      }
      button {
        background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
        box-shadow:0px 5px 8px 0px rgba(246,117,151,0.33);
        border-radius:4px;
        color: white;
      }
    }
    .oneYear {
      background:linear-gradient(135deg,rgba(255,98,69,1) 0%,rgba(255,51,115,1) 100%);
      box-shadow:0px 3px 35px 0px rgba(255,119,140,0.61);
      color: white;
      position: relative;
      button{
        background:rgba(255,255,255,1);
        box-shadow:0px 5px 8px 0px rgba(235,14,64,1);
        border-radius:4px;
        color: #ff495e;
      }
      .tips {
        position: absolute;
        width: 61px;
        height: 87px;
        z-index: 9;
        top: -30px;
        right: 10px;
        background: url(../../assets/images/tips.png) no-repeat center / cover;
      }
      &.isEnglish{
        .tips {
          background: url(../../assets/images/tips_en.png) no-repeat center / cover;
        }
      }
    }
  }
  .pay_full_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4999);
    z-index: 999;

    .pay_select_box {
      position: relative;
      height: 295px !important;

      .pay_select_close {
        position: absolute;
        top: 13px;
        right: 13px;
        background-image: url("../../assets/guanbi_icon@1x (1).png");
        background-size: 100% 100%;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }

      .zfb_wx_box:nth-of-type(1) {
        margin-right: 32px;
      }

      .zfb_wx_box {
        cursor: pointer;
        width: 158px;
        height: 173px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 21px 0px rgba(100, 138, 179, 0.2);
        display: inline-block;
        padding-top: 21px;
        box-sizing: border-box;
        margin-top: 27px;

        .zhifu_icon {
          width: 94px;
          height: 94px;
          background-size: 100% 100%;
          margin: 0 auto;
        }

        .zhifubao_icon {
          background-image: url("../../assets/zhifubao_icon@1x.png");
        }

        .wx_zhifu_icon {
          background-image: url("../../assets/weixin_icon@1x.png");
        }

        .zfb_wx_name {
          margin-top: 13px;
          text-align: center;
          font-size: 17px;
          font-family: "PingFang SC";
          font-weight: 400;
          color: rgba(6, 6, 6, 1);
          line-height: 23px;
        }
      }

      .zfb_wx_box:hover {
        box-shadow: 0px 0px 21px 0px rgba(100, 138, 179, 0.6);
      }
    }

    .pay_confirm_box {
      width: 514px;
      height: 166px;
      background: #FFFFFF;
      border-radius: 4px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 34px;
      box-sizing: border-box;
      text-align: center;

      .pay_full_box_tit {
        font-size: 19px;
        font-family: "PingFang SC";
        font-weight: 500;
        color: #060606;
        line-height: 27px;

        .pay_red_title {
          color: #FF485F;
        }
      }

      .pay_full_btn {
        margin: 45px auto 25px;
        width: 132px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 2px;
        font-size: 15px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 36px;
        text-align: center;
        cursor: pointer;
      }

      .cancle_btn_box {
        display: inline-block;
        width: 132px;
        height: 36px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
        border-radius: 2px;
        font-family: "PingFang SC";
        font-weight: 600;
        color: #FFFFFF;
        line-height: 36px;
        cursor: pointer;
      }
    }
  }
}