@import '../../../style/public';

.qrLogin-box {
  width: 100%;
  padding-top: 26px;
  @extend .flex-col-start-center;

  > .title {
    font-size: 20px;
    font-family: Adobe Heiti Std R;
    color: rgba(84, 85, 86, 1);
  }

  > .qrPic {
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(31, 32, 33, 0.05);
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 20px;
  }

  .go-box {
    width: 100%;
    margin-top: 25px;
    border-top: 1px solid #E9EAEB;
    height: 85px;
    @extend .flex-row-center-center;

    .btn {
      width: 260px;
      height: 36px;
      border: solid 2px rgba(244, 75, 83, 1);
      border-radius: 18px;
      font-size: 18px;
      font-family: PingFangSC-Regular;
      color: rgba(244, 75, 83, 1);
      line-height: 36px;
      text-align: center;
      cursor: pointer;
    }
  }

  .qrcode-box-new {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("./../../../assets/qcode-bg.png");
    width: 67px;
    height: 69px;
    background-size: cover;

    .qrcode-code {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url("./../../../assets/qcode-code.png");
      background-size: cover;
      cursor: pointer;
    }
  }

}