.article.page {
  color: #414141;
  padding: .3rem;
  box-sizing: border-box;
  padding-bottom: 1.32rem;
  background: #ffffff;
}

.article_title {
  font-size: .56rem;
  color: #414141;
  font-weight: normal;
  margin-bottom: .38rem;
}

.article_from {
  color: #757575;
  font-size: .22rem;
  height: .3rem;
  line-height: .3rem;
  margin-bottom: .3rem;
}

.article_from_name {
  color: #1788D7;
}

.article_desc {
  font-size: .34rem;
  line-height: .54rem;
  padding: .2rem .4rem .2rem;
  background: rgba(249, 249, 249, 1);
  margin-bottom: .3rem;
  text-align: justify;
}

.article_content {
  line-height: .54rem;
  text-align: justify;
  margin-bottom: .6rem;
  position: relative;
}
.article_content p{
  margin-bottom: 0.3rem;
}

.article_content image {
  width: 100%;
}
/*限制高度的内容*/
.article_limit{
  display: none;
  width: 100%;
  height: 3.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../images/more_mb.png') no-repeat center bottom;
  background-size: cover;
}
.article_content.limit .article_limit{
  display: block;
}
.article_content.limit{
  max-height: 10rem;
  overflow: hidden;
}
.limit_inner{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #1788D7;
  font-size: .28rem;
}
.see_more_text{
  height: .32rem;
  line-height: .32rem;
}
.see_more_icon{
  width: .4rem;
  height: .24rem;
  margin: .1rem auto;
  background: url('../images/more_blue.png') no-repeat center bottom;
  background-size: cover;
}
.article_word img{
  width: 100%;
  display: block;
  margin: .2rem 0;
}
/*评论*/

.article_comment {

}

.article_comment h3 {
  color: #414141;
  font-size: .28rem;
  font-weight: normal;
  margin-bottom: .5rem;
}

.comment_list {

}

.comment_item {
  margin-bottom: .24rem;
}

.comment_avatar {
  width: .64rem;
  height: .64rem;
  background-color: #f7f7f7;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.comment_info {
  margin-left: .86rem;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
}

.nickname {
  font-size: .28rem;
}

.comment_time {
  font-size: .24rem;
  color: #ADADAD;
}

.comment_content {
  color: #757575;
  font-size: .3rem;
  line-height: .36rem;
  margin: .2rem 0;
  text-align: justify;
}

.more_comment{
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  color: #1788D7;
  border: .02rem solid #1788D7;
  border-radius: 0.08rem;
  margin-bottom: .4rem;
}