.article.page {
  color: #414141;
  box-sizing: border-box;
  padding-bottom: 1.32rem;
  background: #eeeeee;
}

.article_head {
  height: 3.4rem;
  overflow: hidden;
  position: relative;
}

.head_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.head_filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /*background-image: url('../images/demo.png');*/
  background-size: cover;
  background-position: center center;
  filter: blur(4px);
}

.article_head h1.article_title {
  font-size: .56rem;
  color: #ffffff;
  line-height: .8rem;
  max-width: 5.8rem;
  margin: .56rem auto .32rem;
  text-align: center;
}

.article_head .article_desc {
  position: absolute;
  bottom: .2rem;
  font-size: .28rem;
  padding: 0 .3rem;
  color: rgba(238, 238, 238, 1);
  line-height: .36rem;
}

/*大图轮播*/

.banner {
  background: #ffffff;
  overflow: hidden;
  margin-bottom: .1rem;
}

.banner_inner {
  width: 6.98rem;
  height: 3.92rem;
  margin: .2rem auto;
  /*background-image: url('../images/demo.png');*/
  background-size: cover;
  background-position: center center;
}

.banner_inner .banner_title {
  font-size: .34rem;
  color: rgba(255, 255, 255, 1);
  line-height: .5rem;
  padding: 0 .2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-banner .banner_image{
  width: 6.98rem;
  height: 3.92rem;
  background-size: cover;
  background-position: center center
}

/*swiper*/
.swiper_box {
  background: #ffffff;
  margin-bottom: .2rem;
  padding: 0.2rem;
}

.swiper_box .swiper-slide {
  width: 3.28rem;
  height: 3.22rem;
  border: 0.02rem solid rgba(238, 238, 238, 1);
}
.swiper-container1 a{
  display: block;
  height: 100%;
  text-decoration: none;
}
.view_image {
  height: 1.84rem;
  /*background-image: url('../images/demo.png');*/
  background-size: cover;
  background-position: center center;
}

.view_title {
  font-size: .28rem;
  color: rgba(117, 117, 117, 1);
  line-height: .36rem;
  margin: .1rem;
}

/*热词*/
.hot_word {
  background: #ffffff;
  overflow: hidden;
  margin-bottom: .1rem;
}

.hot_word_inner {
  width: 6.2rem;
  height: 3.5rem;
  margin: 0.5rem auto;
  box-sizing: border-box;
  border: 1px dashed #eeeeee;
}

.hot_word_inner img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/*热词数量*/
.hot_word_info {

}

.hot_info_item {
  height: 1.6rem;
  border-top: 2px solid rgba(238, 238, 238, 1);
  position: relative;
}

.hot_info_item .split_line {
  width: .02rem;
  height: .6rem;
  background: rgba(238, 238, 238, 1);
  border-radius: 0.01rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.count_item {
  width: 50%;
  height: 100%;
  float: left;

}

.count_icon {
  width: .36rem;
  height: .36rem;
  background-image: url('../images/dataicon1.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: .22rem auto .1rem;
}

.media_icon.count_icon {
  background-image: url('../images/dataicon2.png');
}

.count_icon.message_icon {
  background-image: url('../images/dataicon3.png');
}

.count_text {
  font-size: .24rem;
  color: #6B6B6B;
  line-height: .36rem;
  text-align: center;
}

.count_text span {
  font-size: .28rem;
  color: #1788D7;
  font-weight: bold;
  padding-right: 2px;
}

.address_img {
  width: 1.44rem;
  height: .74rem;
  margin: 0.2rem auto 0.1rem;
}

.address_img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/*文章底部*/
.article_bottom {
  background: #ffffff;
}

.nav {
  height: 1rem;
  line-height: 1rem;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
}

.nav_item {
  height: 100%;
  width: 50%;
  float: left;
  text-align: right;
  box-sizing: border-box;
  padding: 0 .5rem;
}

.nav_item > span {
  display: inline-block;
  height: .94rem;
}

.nav_item.active span {
  color: #1788D7;
  border-bottom: 2px solid #1788D7;
}

.nav_item.right {
  text-align: left;
}

/*聊吧*/
.liaoba_box {

}

/*情绪感知*/
.emoji_block {
  margin: .3rem;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
}

.emoji_title {
  height: .5rem;
  line-height: .5rem;
  font-size: .34rem;
  color: rgba(65, 65, 65, 1);
  border-left: 0.06rem solid #1788D7;
  padding-left: .1rem;
}
.emoji_image{
  height: 2.24rem;
  /*border: 1px dashed #1788D7;*/
  margin: .4rem 0 .2rem;
}
.emoji_image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*精选模块*/

.fine_box{

}
.fine_list{
  padding:.3rem;
}
.fine_item{
  margin-bottom: .24rem;
  position: relative;
}
.fine_item:last-child .fine_line{
  display: none;
}
.fine_line{
  width: 2px;
  height: 100%;
  background: #1788D7;
  position: absolute;
  top: 0;
  left: .32rem;
  z-index: 1;
  transform: translate(-50%, .4rem);
}
.fine_icon {
  width: .64rem;
  height: .64rem;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 2;
}

.fine_info {
  margin-left: .86rem;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
}

.fine_nickname {
  font-size: .28rem;
}

.fine_time {
  font-size: .24rem;
  color: #ADADAD;
}

.fine_content {
  color: #414141;
  font-size: .3rem;
  line-height: .36rem;
  margin: .2rem 0;
  text-align: justify;
}
.fine_content img{
  display: block;
  width: 100%;
  margin: 0.1rem 0;
}

/*评论*/

.article_comment {
  text-align: justify;
  background: #ffffff;
  padding: 0.3rem;
}

.article_comment h3 {
  color: #414141;
  font-size: .28rem;
  font-weight: normal;
  margin-bottom: .5rem;
}

.comment_list {

}

.comment_item {
  margin-bottom: .24rem;
}

.comment_avatar {
  width: .64rem;
  height: .64rem;
  background-color: #f7f7f7;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.comment_info {
  margin-left: .86rem;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
}

.nickname {
  font-size: .28rem;
}

.comment_time {
  font-size: .24rem;
  color: #ADADAD;
}

.comment_content {
  color: #757575;
  font-size: .3rem;
  line-height: .36rem;
  margin: .2rem 0;
  text-align: justify;
}

.more_comment {
  text-align: center;
  height: .8rem;
  line-height: .8rem;
  color: #1788D7;
  border: .02rem solid #1788D7;
  border-radius: 0.08rem;
  margin-bottom: .4rem;
}