* {padding: 0;margin: 0;box-sizing: border-box;}

body {
	background-color: rgba(238, 238, 238, 1);
}

@media (min-width: 750px) {
	html {
		font-size: 100px !important;
	}
}

.circle {
	width: 0.04rem;
	height: 0.04rem;
	background: rgba(99, 99, 99, 1);
	border-radius: 50%;
	margin: 0 .5em;
}

.browseNum {
	height: .32rem;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(74, 74, 74, 1);
	line-height: .32rem;
}

.dataNum {
	width: 2.06rem;
	height: 0.28rem;
}

.types {
	color: rgba(61, 156, 220, 1);
}

.icon {
	width: .8rem; height: .8rem;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.pageWrapper {
	max-width: 750px;
	margin: auto;
	position: relative;
}

.user {
	position: absolute;
	right: .15rem;
	top: .25rem;
	display: flex;
	z-index: 10;
}

.user .icon {
	width: .6rem; height: .6rem;
}

.user svg {
	fill: white;
}

.swiper-banner {
	/*background: url('../images/topimg.png') no-repeat;*/
	/*background-size: 100%;*/
	/*height: 4rem;*/
}

#top .swiper-slide {
	width: 7.5rem;
	height: 4rem;
}
#top .swiperinner{
	width: 7.5rem;
	height: 4rem;
}
#swiper-pagination1 .swiper-pagination-bullet{
	width: .3rem;
	height: .3rem;
}

#top .cover {
	width: 100%;
	height: 100%;
	background-color: rgba(200, 200, 200, .5);
	position: absolute;
	top: 0;
	left: 0;
}

#top .leaderTitle {
	font-size: .34rem;
	padding: .1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	width: 80%;
	font-weight: bold;
}

#top .leaderSource {
	font-size: 0.3rem;
	position: absolute;
	bottom: .25rem;
	right: .25rem;
}

.menu {
	padding: 0.3rem 0.1rem;
	background: rgba(238, 238, 238, 1);
}

#menu  .type {
	font-size: 0.35rem;
	font-weight: bolder;
	padding: 0.1rem 0.1rem;
	height: 1.4rem;
	width: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-wrap: none;
	background: rgba(233, 208, 204, 1);
	color: white;
	border-radius: 0.03rem;
	letter-spacing: 0.03rem;
	box-shadow: 0 .05rem .1rem 0 rgba(0, 0, 0, 0.2);
}

.voice-box {
	display: flex;
	flex-direction: column;
	height: 2.7rem;
	width: 100%;
	margin-bottom: .1rem;
	background-color: white;
}

.voice-box .name {
	font-size: 0.5rem;
	text-align: center;
	padding: 0.3rem;
}

.voice-box .content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	background-color: rgba(233, 208, 204, .3);
	margin: 0.1rem 0;
	align-items: center;
}

.voice-box .content .smallPicture,
.voice-box .content .voiceIcon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.voice-box .content .smallPicture {
	width: 20%;
	height: auto;
}

.voice-box .content .voiceIcon {
	width: 15%;
	height: 50%;
}

.voice-box .content .voiceIcon svg {
	fill: rgba(0, 0, 0, .5);
}

.voice-box .content .smallPicture img {
	width: 80%;
	height: 80%;
}

.voice-box .content .topic {
	height: 80%;
	width: 65%;
	display: flex;
	flex-direction: column;
}

.voice-box .content .topic .context,
.voice-box .content .topic .voiceBar {
	font-size: 0.3rem;
	height: 50%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.voice-box .content .topic .context {
	padding-left: .18rem;
}

.text-box {
	width: 100%;
	height: 2.7rem;
	background: rgba(255, 255, 255, 1);
	padding: 0.16rem 0.16rem 0.16rem 0.28rem;
	display: flex;
	flex-direction: row;
	margin-bottom: .1rem;
}

.text-box .left {
	width: 4.34rem;
	height: 100%;
	position: relative;
}

.text-box .left .text {
	padding: 0.07rem 0.4rem 0 0;
	height: 1rem;
	font-size: .34rem;
	font-family: FZYANS_JW--GB1-0;
	font-weight: normal;
	color: rgba(65, 65, 65, 1);
	line-height: .5rem;
}

.text-box .left .record {
	font-size: .22rem;
	font-family: FZYANS_JW--GB1-0;
	font-weight: normal;
	color: rgba(117, 117, 117, 1);
	line-height: .28rem;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.text-box .right {
	width: 3.16rem;
	height: 100%;
	font-size: .34rem;
}

.text-box .right img {
	width: 100%;
	height: 100%;
}

.video-box {
	background-color: white;
	padding: .2rem .16rem .16rem;
	margin-bottom: .1rem;
}

.video-box .topContent {
	font-size: .34rem;
	padding: .1rem;
}

.video-box .record {
	font-size: .22rem;
	padding: .1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.video-box .video {
	background: url('../images/list1.png') no-repeat;
	background-size: 100%;
	height: 2rem;
	position: relative;
}

.video-box .video .state {
	position: absolute;
	bottom: .1rem;
	left: .1rem;
	font-size: .22rem;
	color: rgba(61, 156, 220, 1);
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(255, 255, 255, .8);
	border-radius: .32rem;
	padding: .01rem .2rem .01rem .1rem;
}

.video-box .video .state .ring {
	width: .1rem;
	height: .1rem;
	background-color: white;
	box-shadow: 0 0 0 .05rem rgba(61, 156, 220, 1);
	border-radius: 50%;
	margin: .5em;
}