.index_content {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;

  & .content {
    & .index_bottom_content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 70px;

      & .index_bottom_content_left {
        align-items: flex-start;
        padding-right: 50px;

        img {
          width: 347px;
          height: 291px;
        }
      }

      & .index_bottom_content_right {
        align-items: flex-end;
        padding-left: 50px;

        img {
          width: 348px;
          height: 259px;
        }
      }

      & .index_bottom_content_img {
        width: 50%;
        display: flex;
      }

      & .index_bottom_content_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .index_bottom_content_title {
          font-size: 50px;
          font-weight: 500;
          color: rgba(60, 66, 185, 1);
        }

        & .index_bottom_content_tip {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: rgba(74, 74, 74, 1);
          padding-top: 40px;
        }
      }
    }
  }
}