.header_option{
  width: 80px;
  height: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(255,255,255,1);
  cursor: pointer;
  &:hover{
    background-color: rgba(0,0,0,.1);
    font-weight: 600;
  }
}