.singleRemove{
  $title_color:#6861FD;
  user-select: none;
  .videoName{
    height: 80px;
    text-align: center;
    line-height: 80px;
  }
  .videoBox{
    width: 778px;
    height: 470px;
    margin: 0 auto;
    background: #333333;
    position: relative;
    .VipTips{
      position: absolute;
      z-index: 11;
      background: rgba(255,255,255,0.8);
      top: 0;
      left: 0;
      right: 0;
      height: 70px;
      box-sizing: border-box;
      line-height: 40px;
      padding: 15px 30px;
      p{
        font-size:16px;
        width: 590px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(0,0,0,1);
        display: inline-block;
        vertical-align: middle;
      }
      a{
        display: inline-block;
        text-align: center;
        width:90px;
        height:36px;
        background:#6861FD;
        border-radius:3px;
        color: white;
        vertical-align: middle;
        line-height: 36px;
      }
      .close{
        width: 13px;
        height: 13px;
        display: inline-block;
        vertical-align: middle;
        margin: 11px 12px;
        cursor: pointer;
        background: url(../../../assets/images/cha.png) no-repeat center / cover;
      }
    }
    .canpaly{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: url(../../../assets/removewatermark/video-loading.gif) no-repeat center / contain;
    }
    video{
      width: 100%;
      height: 100%;
    }
    .handdleTips{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../../../assets/removewatermark/remove-gif.gif) no-repeat center / cover;
      z-index: 100;
    }
    .clip-box-out{
      position: absolute;
      z-index: 9;
      .clip-box{
        position: absolute;
        background:rgba(112,164,206,0.71);
        border:2px white dashed;
        .closeClip{
          position: absolute;
          width:24px;
          height:24px;
          background:linear-gradient(159deg,rgba(141,130,254,1) 0%,rgba(82,77,252,1) 100%);
          text-align: center;
          line-height: 16px;
          border-radius: 50%;
          color: white;
          top: -13px;
          left: -13px;
          font-size: 24px;
          cursor: pointer;
        }
        .rbMove{
          position: absolute;
          right: 0;
          bottom: 0;
          cursor: nw-resize;
          &::before{
            content: '';
            position: absolute;
            z-index: 5;
            width: 20px;
            height: 3px;
            background-color: white;
            right: 0;
            bottom: -2px;
          }
          &::after{
            content: '';
            position: absolute;
            z-index: 5;
            width: 3px;
            height: 20px;
            background-color: white;
            bottom: 0;
            right: -2px;
          }
        }
        .rtMove{
          position: absolute;
          right: 0;
          top: 0;
          cursor: ne-resize;
          &::before{
            content: '';
            position: absolute;
            z-index: 5;
            width: 20px;
            height: 3px;
            background-color: white;
            right: 0;
            top: -2px;
          }
          &::after{
            content: '';
            position: absolute;
            z-index: 5;
            width: 3px;
            height: 20px;
            background-color: white;
            top: 0;
            right: -2px;
          }
        }
        .lbMove{
          position: absolute;
          left: 0;
          bottom: 0;
          cursor: ne-resize;
          &::before{
            content: '';
            position: absolute;
            z-index: 5;
            width: 20px;
            height: 3px;
            background-color: white;
            left: 0;
            bottom: -2px;
          }
          &::after{
            content: '';
            position: absolute;
            z-index: 5;
            width: 3px;
            height: 20px;
            background-color: white;
            bottom: 0;
            left: -2px;
          }
        }
      }
    }
  }
  .video_controller {
    width: 100%;
    //height: 31px;
    background:rgba(255,255,255,1);
    box-shadow:0px -1px 20px 0px rgba(230, 230, 230, 0.3);
    user-select: none;
    padding: 0 17px;
    box-sizing: border-box;
    >div{
      padding: 10px 0;
      text-align: center;
    }
    .video_play {
      cursor: pointer;
      background-image: url("../../../assets/removewatermark/play@2x.png");
      background-size: cover;
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
    }
    .video_pause {
      background-image: url("../../../assets/removewatermark/stop.png");
      display: inline-block;
      vertical-align: middle;
    }
    .video_progressBar {
      width:642px;
      height:4px;
      background:rgba(238,238,238,0.499);
      border-radius:3px;
      margin: 0 18px 0 12px;
      position: relative;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      .video_progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: $title_color;
        border-radius:3px;

      }
      .video_progressBtn {
        position: absolute;
        width:11px;
        height:11px;
        background: $title_color;
        border-radius: 50%;
        top: -3px;
        cursor: pointer;
      }
    }
    .video_time {
      font-size:16px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:rgba(104,97,253,1);
      line-height:22px;
      display: inline-block;
      vertical-align: middle;
    }
    .singeleRemove-progress{
      width: 780px;
      margin: 0 auto;
      padding: 18px 0 ;
      text-align: left;
      .singleRemove-out{
        width: 724px;
        display: inline-block;
        vertical-align: middle;
        height: 4px;
        position: relative;
        background:rgba(238,238,238,.5);
        border-radius:3px;
        overflow: hidden;
        .singleRemove-inner{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 20%;
          background: #6861FD;
        }
      }
      .progreeNumber{
        display: inline-block;
        vertical-align: middle;
        font-size:16px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(104,97,253,1);
        line-height:22px;
        margin-left: 10px;
      }
    }
  }
  .contorlBtn{
    background:rgba(249,249,249,1);
    padding: 26px 0;
    text-align: center;
    button{
      min-width:210px;
      height:68px;
      border-radius:5px;
      font-size:24px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      line-height:1;
      margin: 0 27px;
      padding: 23px 60px;
      cursor: pointer;
      &.downloadBtn,&.startBtn{
        background:rgba(104,97,253,1);
        color: white;
      }
      &.cancelBtn,&.editOther{
        border:2px solid rgba(181,178,255,1);
        color:rgba(104,97,253,1);
        background: none;
      }
      &.getAllbtn{
        position: relative;
        border:2px solid rgba(181,178,255,1);
        color:rgba(104,97,253,1);
        background: none;
        span{
          position: absolute;
          top: 3px;
          right: 3px;
          z-index: 9;
          width: 45px;
          font-size: 12px;
          line-height: 19px;
          padding-left: 2px;
          color: white;
          height: 19px;
          background: url(../../../assets/removewatermark/tuijian.png) no-repeat center / cover;
        }
      }
    }
  }
  .videoListbox{
    background: white;
    padding: 28px 0 40px;
    >h4{
      width:780px;
      height:44px;
      background:rgba(249,249,249,1);
      font-size:16px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color:rgba(102,102,102,1);
      padding-left: 16px;
      line-height:44px;
      margin: 0 auto;
      box-sizing: border-box;
    }
    .video-list{
      width: 780px;
      font-size: 0;
      margin: 10px auto 0;
      li{
        display: inline-block;
        vertical-align: top;
        margin-right: 24px;
        margin-bottom: 10px;
        box-sizing: border-box;
        >p{
          font-size:14px;
          font-family:PingFangSC-Medium;
          font-weight:500;
          color:rgba(39,39,39,1);
          line-height:20px;
          float: right;
          margin-top: 5px;
        }
        &.active .videobox{
          outline:3px solid rgba(104,97,253,1);
        }
        &:nth-of-type(2n){
          margin-right: 0;
        }
        .videobox{
          width:378px;
          height:228px;
          overflow: hidden;
          background-color: #333333;
          position: relative;
          video{
            width: 100%;
            height: 100%;
          }
          .listclip{
            position: absolute;
            z-index: 9;
            >div{
              position: absolute;
              background:rgba(112,164,206,0.71);
              border:2px white dashed;
            }
          }
        }
      }
      .uploadVideo{
        width:378px;
        height:228px;
        background:rgba(249,249,249,1);
        position: relative;
        .removeWaterUpload{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          &.hide{
            display: none;
          }
          .upload-imgBtn{
            width: 46px;
            height: 46px;
            margin: 64px auto 24px;
            background: url(../../../assets/removewatermark/add.png) no-repeat center / cover;
          }
          .upload-tips{
            text-align: center;
            font-size:14px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(39,39,39,1);
            line-height:20px;
          }
        }
        .upload-info{
          .uploadState{
            font-size: 16px;
            text-align: center;
            margin-top: 70px;
          }
          .progress-out{
            width: 360px;
            height: 6px;
            background: url(../../../assets/images/p_loading.png) no-repeat center /cover;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            margin: 20px auto 0;
            .progress-inner{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              background-color: #1d90e6;
            }
          }
        }
      }
    }
  }

}
.removeWatermark_wrapper{
  .GradeDefault > p{
    font-size: 20px !important;
  }
}
.muliDownload{
  padding-bottom: 80px;
  background-color: white;
  position: relative;
  user-select: none;
  .header{
     background-color: white;
   }
   .muliDownload-main{
     padding: 0 30px;
     background-color: white;
   }
  .muliDownload-inner{
    background-color: #f9f9f9;
    border-radius:22px;
    height:832px;
    box-sizing: border-box;
    .videoContent{
      margin: 0 auto;
      box-sizing: border-box;
      height:832px;
    }
    .content-header{
      padding: 38px 0 20px;
      height: 80px;
      box-sizing: border-box;
      >div{
        width: 802px;
        margin: 0 auto;
        >div{
          float: right;
        }
      }
      .checkText{
        display: inline-block;
        vertical-align: middle;
        font-size:12px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(102,102,102,1);
        line-height:17px;
      }
      .checkIcon{
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        margin-right: 8px;
        background: url(../../../assets/removewatermark/checknormal.png) no-repeat center /cover;
        &.checked{
          background: url(../../../assets/removewatermark/checked.png) no-repeat center /cover;
        }
      }
    }
    .content-body{
      ul{
        overflow: scroll;
        height: 585px;
      }
      .chuliItem{
          width:802px;
          height:116px;
          background:rgba(255,255,255,1);
          box-shadow:0px 10px 20px 0px rgba(0,0,0,0.05);
          border-radius:10px;
          margin: 0 auto 32px;
          .removeWater{
            display: none;
          }
          .fileItem{
            padding: 24px 38px;
            box-sizing: border-box;
            .file_index{
              display: inline-block;
              vertical-align: middle;
              font-size:16px;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color:rgba(39,39,39,1);
              line-height:22px;
            }
            .file_img{
              display: inline-block;
              vertical-align: middle;
              width: 120px;
              height: 68px;
              margin: 0 28px 0 38px;
              position: relative;
              img{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
              }
              video{
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
              }
              p{
                position: absolute;
                top: 0;
                left: 0;
                background-color: #6861FD;
                opacity: .65;
                bottom: 0;
                z-index: 0;
              }
            }
            .fileName{
              display: inline-block;
              vertical-align: middle;
              width: 410px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-right: 40px;
            }
            .fileProgress{
              //width: 42px;
              display: inline-block;
              vertical-align: middle;
              font-size:14px;
              font-family:PingFangSC-Regular;
              font-weight:400;
              color:rgba(104,97,253,1);
              line-height:20px;
            }
            .downloadIcon{
              display: inline-block;
              vertical-align: middle;
              width:54px;
              height:24px;
              cursor: pointer;
              position: relative;
              background: url(../../../assets/removewatermark/download.png) no-repeat center / contain;
              a{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
            }
          }
        }
    }
    .content-footer{
      text-align: center;
      margin-top: 60px;
      button{
        padding: 23px 34px;
        border-radius:5px;
        font-size:24px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:33px;
        cursor: pointer;
        margin: 0 27px;
        &.downloadAll{
          background-color: #6861FD;
        }
        &.jx{
          border:2px solid rgba(181,178,255,1);
          color: #6861FD;
          background: none;
        }
      }
    }
  }
  .muliDownload-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    .footerInner{
      max-width: 1488px;
      margin: 0 auto;
      background-color: red;
      position: relative;
      min-width: 1280px;
      .card-box{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 270px;
        visibility: visible;
        height: 250px;
        z-index: 9;
        box-shadow:0px 10px 25px 0px rgba(0,0,0,0.15);
        border-radius:6px 6px 0 0 ;
        &.hiden{
          transition: all .3s;
          z-index: -1;
          visibility: hidden;
        }
        .swiper-slide{
          position: relative;
          img{
            width: 100%;
          }
          p{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 9;
          }
          .closeIcon{
            position: absolute;
            top: 12px;
            right: 12px;
            line-height: 1;
            font-size: 24px;
            z-index: 9;
            cursor: pointer;
          }
        }
      }
    }
  }
 }