.versions{
  padding-bottom: 52px;
  display: flex;
}
@media screen and (max-width: 675px) {
  .versions{
    padding-bottom: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}