.answer-box{
  height: 5.56rem;
  box-sizing: border-box;
  background: white;
  position: relative;
  padding: .18rem;
  >a{
    display: block;
    position: absolute;
    top: .18rem;
    bottom: .18rem;
    left: .18rem;
    right: .18rem;
  }
}
.answer-inner{
  height: 100%;
  border-radius: .1rem;
  box-sizing: border-box;
  padding: .3rem;
  background-size: cover;
  background-position: bottom center;
  background-repeat:no-repeat;
  background-color:#E8E9EC ;
  p{
    font-size: .22rem;
    color:rgba(52,64,81,1);
  }
  h2{
    text-align: center;
    font-size:0.4rem;
    font-weight:bold;
    color:rgba(35,31,32,1);
    margin-top: 1.32rem;
  }
}