.supporturl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  .supporturl_title {
    padding-top: 40px;
    font-size: 21px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
  }

  .supporturl_tip {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: rgba(0, 0, 0, 1);
    padding: 8px 0 32px;
  }

  // .supporturl_pic {
  //   background: url('../../assets/payPage/jieshao_geshi _icon.png') center/100% no-repeat;
  //   width: 262px;
  //   height: 184px;
  // }

  .supporturl_url {
    width: 730px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color:rgba(39, 39, 39, 1);
    line-height: 20px;
    padding: 10px 0 56px;
    text-align: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      p {
        display: flex;
        line-height:24px;
        // align-items: center;
        // width: 20%;
        // min-width: 100px;
        // max-width: 200px;

        &:hover {
          color: rgba(244, 75, 83, 1);
          cursor: pointer;
          text-decoration: underline;
        }

        span{
          padding: 0 5px;
        }
      }
    }
  }
}