@import '../../style/public';

.help-page {
  min-width: 1280px;
  width: 100%;

  .help-head {
    width: 100%;
    height: 256px;
    background-image: url("./../../assets/privacy/head.png");
    background-size: cover;
    background-position: center bottom;
    @extend .flex-col-center-center;

    .help-head-text {
      font-size: 40px;
      font-family: PingFangSC-Medium;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
      line-height: 56px;
      text-align: center;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -13px;
        transform: translateX(-50%);
        width: 48px;
        height: 4px;
        background: linear-gradient(135deg, rgba(255, 98, 69, 1) 0%, rgba(255, 51, 115, 1) 100%);
      }
    }

  }

  .help_tab {
    width: 100%;
    height: 107px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;

    .help_tab_btn {
      font-size: 21px;
      font-family: PingFangSC-Medium;
      font-weight: bold;
      color: #272727;
      line-height: 107px;
      margin: 0 64px;
      cursor: pointer;
    }

    .help_tab_btn:hover {
      color: #FF7B89;
    }
    
    .active_btn {
      color: #F44B53;
    }
  }
}