.wrapper{
  .wrapper_content{
    .text_inner{
      max-width: 908px;
    }
    .index_div{
      article{
        color:rgba(49,49,49,1);
        padding: 1.875rem 0;
        h1{
          font-size: 1.5rem;
          padding-bottom: 1.625rem;
        }
        h2{
          font-size: .75rem;
          line-height: .75rem;
          padding-bottom: 1.375rem
        }
        p{
          font-size: .75rem;
          font-weight: 200;
          line-height: 1.125rem;
          padding-bottom: 1.875rem;
          strong{
            color: blue;
            text-decoration: underline;
            &:hover{cursor: pointer;}
          }
        }
        ul{
          list-style-type: disc;
          padding: 0 1.625rem 1.375rem 1.625rem;
          font-weight: 200;
          font-size: .75rem;
          line-height: 1.125rem;
          color:rgba(49,49,49,1);
        }
      }
    }
  }
  .text_backcolor{
    background-color: rgba(244,248,255,1);
  }
}
@media screen and (max-width: 675px) {
  .wrapper{
    .wrapper_content{
      .index_div{
        article{
          padding: 0 1.625rem;
        }
      }
    }
    .text_backcolor{
      margin-top: -35px;
    }
  }
}